node-RED/flows_k9dev.json
[{"type":"tab","id":"862bf685.1e191","label":"K9 COPY ON MAC"},{"id":"ee6a7f8.d278b","type":"websocket-client","z":"","path":"/ws/motors","wholemsg":"false"},{"id":"4e90dcd1.dcdeb4","type":"websocket-listener","z":"","path":"/ws/k9","wholemsg":"false"},{"id":"4838891c.8e6ba8","type":"serial-port","z":"862bf685.1e191","serialport":"/dev/tty.usbmodem1421","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"!","bin":"false","out":"char","addchar":false},{"id":"7e3df1d7.25a55","type":"websocket in","z":"862bf685.1e191","name":"Web socket instructions","server":"4e90dcd1.dcdeb4","client":"","x":152.4499969482422,"y":172.08334350585938,"wires":[["bc5641fd.f5bcc","b40165f7.aa926"]]},{"id":"8ea1d0fb.01df3","type":"debug","z":"862bf685.1e191","name":"std out","active":false,"console":"false","complete":"payload","x":2129.0928802490234,"y":659.8334503173828,"wires":[]},{"id":"f804dca3.79a7d","type":"function","z":"862bf685.1e191","name":"Generate execution path","func":"var execute = msg.payload.object + \"_\" + msg.payload.status ;\nexecute = \"/home/pi/site/python/\" + execute + \".py\";\nmsg.payload = execute;\nreturn msg;","outputs":1,"x":1167.8428192138672,"y":489.3334503173828,"wires":[["90ca98e6.ae57f8"]]},{"id":"90ca98e6.ae57f8","type":"exec","z":"862bf685.1e191","command":"sudo python ","addpay":true,"append":"","useSpawn":"","name":"Move head or tail","x":1619.3428802490234,"y":640.0834503173828,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"98e57e3f.6357a","type":"debug","z":"862bf685.1e191","name":"error","active":false,"console":"false","complete":"payload","x":2126.3428802490234,"y":794.0834503173828,"wires":[]},{"id":"8d8d946a.07b27","type":"debug","z":"862bf685.1e191","name":"rc","active":false,"console":"false","complete":"payload","x":2131.3428802490234,"y":915.8334503173828,"wires":[]},{"id":"8a94e39b.10b3a8","type":"switch","z":"862bf685.1e191","name":"Message type received","property":"payload.type","rules":[{"t":"eq","v":"information"},{"t":"eq","v":"navigation"},{"t":"eq","v":"toggle"},{"t":"eq","v":"mood"},{"t":"eq","v":"servo"}],"checkall":"false","outputs":5,"x":558.7833099365234,"y":342.50001430511475,"wires":[["f4ffd356.1ac69"],["b9e8a636.7fea6"],["3ace8e31.27e3aa"],["137a52bc.bb982d","389e4d94.0c1242"],["f75f9092.fe5308"]]},{"id":"5128aad7.f0fdcc","type":"debug","z":"862bf685.1e191","name":"K9 status","active":false,"console":"false","complete":"payload","x":622.8833618164062,"y":579.5999755859375,"wires":[]},{"id":"bc5641fd.f5bcc","type":"debug","z":"862bf685.1e191","name":"Web socket (ws)","active":false,"console":"false","complete":"payload","x":396.88328552246094,"y":171.60003662109375,"wires":[]},{"id":"3ace8e31.27e3aa","type":"switch","z":"862bf685.1e191","name":"Lights, tail and head","property":"payload.object","rules":[{"t":"eq","v":"lights"},{"t":"eq","v":"head"},{"t":"eq","v":"eyes"},{"t":"eq","v":"tail"}],"checkall":"false","outputs":4,"x":846.4499969482422,"y":435.75001525878906,"wires":[["a40dbe2e.9060c"],["f804dca3.79a7d"],["65c98b38.01afd4"],["5200e6ce.16c9f8"]]},{"id":"69c302c2.08a30c","type":"comment","z":"862bf685.1e191","name":"Browser websocket","info":"The ws websocket receives messages from the browser","x":164.78330993652344,"y":114.75,"wires":[]},{"id":"3de0537c.1b078c","type":"comment","z":"862bf685.1e191","name":"Python websocket","info":"This socket receives the status from K9","x":149.4500274658203,"y":383.08338928222656,"wires":[]},{"id":"be4953bd.9f28b8","type":"debug","z":"862bf685.1e191","name":"Information received","active":false,"console":"false","complete":"payload","x":1335.7832489013672,"y":369.75001525878906,"wires":[]},{"id":"137a52bc.bb982d","type":"switch","z":"862bf685.1e191","name":"Moods","property":"payload.object","rules":[{"t":"eq","v":"wake_up"},{"t":"eq","v":"sad"},{"t":"eq","v":"scanning"},{"t":"eq","v":"sleep"},{"t":"eq","v":"thanks"},{"t":"eq","v":"home"}],"checkall":"true","outputs":6,"x":895.7833251953125,"y":767.7500305175781,"wires":[["1be893ee.5efc4c","f3cd85ea.7dd4b"],["53c799e6.641948","b64f4d7e.a05338"],["1be893ee.5efc4c","5ff43aea.a73bcc","e7b324f3.a65a1"],["4dd58e9a.877f58"],["5b8dee02.8694e8","e6d28b19.ba73f8"],["6d5c8b76.86022c","2e609a0b.9999be"]]},{"id":"1be893ee.5efc4c","type":"change","z":"862bf685.1e191","name":"Wake Up","rules":[{"t":"set","p":"payload","to":"1"}],"action":"","property":"","from":"","to":"","reg":false,"x":1138.7832794189453,"y":762.9722442626953,"wires":[["3f5a17cd.69b0e8","7b7bbd05.ce793c","ad4d7541.6e2368","2ddb2b0b.762b0c"]]},{"id":"4dd58e9a.877f58","type":"change","z":"862bf685.1e191","name":"Sleep","rules":[{"t":"set","p":"payload","to":"0"}],"action":"","property":"","from":"","to":"","reg":false,"x":1263.7833251953125,"y":972.75,"wires":[["53c799e6.641948","37819ec.0c602e2","ad4d7541.6e2368","2ddb2b0b.762b0c","e2ed9c3.5aa206"]]},{"id":"3f5a17cd.69b0e8","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/head_up.py","addpay":false,"append":"","useSpawn":"","name":"Head Up","x":1576.7833099365234,"y":965.7500152587891,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"53c799e6.641948","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/head_down.py","addpay":false,"append":"","useSpawn":"","name":"Head Down","x":1581.7833099365234,"y":1035.750015258789,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"6e59cecb.b8f248","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/scanning.py","addpay":false,"append":"","useSpawn":"","name":"Scanning","x":1864.7833099365234,"y":867.7500152587891,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"f75f9092.fe5308","type":"template","z":"862bf685.1e191","name":"Command arguments","field":"payload","format":"handlebars","template":"{{payload.object}} {{payload.value}} ","x":1096.7833251953125,"y":1459.9999389648438,"wires":[["d971dddc.17f88"]]},{"id":"d971dddc.17f88","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/servotuner.py","addpay":true,"append":"","useSpawn":"","name":"Servotuner","x":1620.783203125,"y":1458.2499389648438,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"5ff43aea.a73bcc","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/head_up.py","addpay":false,"append":"","useSpawn":"","name":"Head Up","x":1472.7833099365234,"y":862.7500152587891,"wires":[["5e9ea393.ef9c5c"],[],[]]},{"id":"5e9ea393.ef9c5c","type":"delay","z":"862bf685.1e191","name":"Wait for neck to raise","pauseType":"delay","timeout":"0.75","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1660.7833099365234,"y":869.7500152587891,"wires":[["6e59cecb.b8f248"]]},{"id":"390770d9.c06dc","type":"websocket out","z":"862bf685.1e191","name":"Send message to K9 Python Controller","server":"","client":"ee6a7f8.d278b","x":1375.7832489013672,"y":278.75001525878906,"wires":[]},{"id":"b40165f7.aa926","type":"json","z":"862bf685.1e191","name":"","x":265.78330993652344,"y":305.75001525878906,"wires":[["8a94e39b.10b3a8"]]},{"id":"b9e8a636.7fea6","type":"json","z":"862bf685.1e191","name":"","x":810.7832489013672,"y":317.75001525878906,"wires":[["48783327.1f8404"]]},{"id":"48783327.1f8404","type":"change","z":"862bf685.1e191","name":"Delete session information","rules":[{"t":"delete","p":"_session"}],"action":"","property":"","from":"","to":"","reg":false,"x":1039.7832489013672,"y":312.75001525878906,"wires":[["390770d9.c06dc","be4953bd.9f28b8"]]},{"id":"a40dbe2e.9060c","type":"function","z":"862bf685.1e191","name":"Translate 'on'/'off' to 1 or 0","func":"context.global.backpanel = msg.payload.status;\nif (msg.payload.status == \"on\") {\n    msg.payload = 1;\n    } else {\n    msg.payload = 0;\n    }\nreturn msg;","outputs":"1","noerr":0,"x":1167.4499969482422,"y":432.75001525878906,"wires":[["ad4d7541.6e2368"]]},{"id":"65c98b38.01afd4","type":"function","z":"862bf685.1e191","name":"Translate 'on'/'off' to 1 or 0","func":"context.global.eyes = msg.payload.status;\nif (msg.payload.status == \"on\") {\n    msg.payload = 1;\n    } else {\n    msg.payload = 0;\n    }\nreturn msg;\n// fjfddfjkjd","outputs":"1","noerr":0,"x":1170.4499969482422,"y":542.7500152587891,"wires":[["2ddb2b0b.762b0c"]]},{"id":"7b7bbd05.ce793c","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/tail_up.py","addpay":false,"append":"","useSpawn":"","name":"Tail Up","x":1604.4499969482422,"y":811.7500152587891,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"37819ec.0c602e2","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/tail_down.py","addpay":false,"append":"","useSpawn":"","name":"Tail Down","x":1569.4499969482422,"y":1097.750015258789,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"5200e6ce.16c9f8","type":"function","z":"862bf685.1e191","name":"Generate execution path","func":"var execute = msg.payload.object + \"_\" + msg.payload.status ;\nexecute = \"/home/pi/site/python/\" + execute + \".py\";\nmsg.payload = execute;\nreturn msg;","outputs":1,"x":1158.4499969482422,"y":622.7500152587891,"wires":[["90ca98e6.ae57f8"]]},{"id":"e6d28b19.ba73f8","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/wag_v.py","addpay":false,"append":"","useSpawn":"","name":"Wag tail vertically","x":1036.449951171875,"y":1110.75,"wires":[[],[],[]]},{"id":"2e609a0b.9999be","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/wag_h.py","addpay":false,"append":"","useSpawn":"","name":"Wag tail sideways","x":1029.4500122070312,"y":1177.75,"wires":[[],[],[]]},{"id":"f4ffd356.1ac69","type":"debug","z":"862bf685.1e191","name":"Information","active":false,"console":"false","complete":"payload","x":730.8500061035156,"y":182.2666778564453,"wires":[]},{"id":"8b5594ed.7c156","type":"websocket in","z":"862bf685.1e191","name":"Status received from K9 Python Controller","server":"","client":"ee6a7f8.d278b","x":181.8500213623047,"y":479.7833251953125,"wires":[["2179e7bf.9ab21"]]},{"id":"49a77b29.29d3f4","type":"websocket out","z":"862bf685.1e191","name":"Send sensor readings and status to browser","server":"4e90dcd1.dcdeb4","client":"","x":659.85009765625,"y":629.5667724609375,"wires":[]},{"id":"ad4d7541.6e2368","type":"debug","z":"862bf685.1e191","name":"LIGHTS RPI GPIO OUT","active":true,"console":"false","complete":"payload","x":1576.449951171875,"y":706.4500427246094,"wires":[]},{"id":"2ddb2b0b.762b0c","type":"debug","z":"862bf685.1e191","name":"EYES RPI GPIO OUT","active":true,"console":"false","complete":"payload","x":1568.449951171875,"y":758.4500427246094,"wires":[]},{"id":"51da7ec7.50d39","type":"exec","z":"862bf685.1e191","command":"espeak -v en-uk-rp -p 99 -s 150 -k40","addpay":true,"append":"","useSpawn":false,"name":"Speech","x":2047.88330078125,"y":1252.88330078125,"wires":[["b7a56a23.71c838"],[],[]]},{"id":"5392ccf4.94e914","type":"debug","z":"862bf685.1e191","name":"","active":true,"console":"false","complete":"false","x":2057.88330078125,"y":1165.8833618164062,"wires":[]},{"id":"da5732bf.d282c","type":"function","z":"862bf685.1e191","name":"Simple triggered queue","func":"// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\n\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var m = context.queue.shift();\n        return {payload:m};\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":1851.88330078125,"y":1251.88330078125,"wires":[["51da7ec7.50d39","5392ccf4.94e914"]]},{"id":"b7a56a23.71c838","type":"function","z":"862bf685.1e191","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":1940.8833312988281,"y":1394.88330078125,"wires":[["da5732bf.d282c"]]},{"id":"2179e7bf.9ab21","type":"change","z":"862bf685.1e191","name":"Delete session information","rules":[{"t":"delete","p":"_session"}],"action":"","property":"","from":"","to":"","reg":false,"x":411.1500244140625,"y":553.6500244140625,"wires":[["49a77b29.29d3f4","5128aad7.f0fdcc"]]},{"id":"f3cd85ea.7dd4b","type":"function","z":"862bf685.1e191","name":"Speech: All systems operational","func":"msg.payload='\"All systems operational\"';\nreturn msg;","outputs":1,"noerr":0,"x":1501.4500732421875,"y":1167.449951171875,"wires":[["da5732bf.d282c"]]},{"id":"5b8dee02.8694e8","type":"function","z":"862bf685.1e191","name":"Speech: Thanks are not necessary","func":"msg.payload='\"Thanks are not necessary master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1501.3499755859375,"y":1341.349853515625,"wires":[["da5732bf.d282c"]]},{"id":"6d5c8b76.86022c","type":"function","z":"862bf685.1e191","name":"Speech: Welcome home master","func":"msg.payload='\"Welcome home master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1490.550048828125,"y":1387.949951171875,"wires":[["da5732bf.d282c"]]},{"id":"e2ed9c3.5aa206","type":"function","z":"862bf685.1e191","name":"Speech: Conserving battery power","func":"msg.payload='\"Conserving battery power\"';\nreturn msg;","outputs":1,"noerr":0,"x":1499.949951171875,"y":1298.349853515625,"wires":[["da5732bf.d282c"]]},{"id":"e7b324f3.a65a1","type":"function","z":"862bf685.1e191","name":"Speech: Scanning area","func":"msg.payload='\"Scanning area\"';\nreturn msg;","outputs":1,"noerr":0,"x":1472.25,"y":1253.550048828125,"wires":[["da5732bf.d282c"]]},{"id":"b64f4d7e.a05338","type":"function","z":"862bf685.1e191","name":"Speech: Apologies master","func":"msg.payload='\"Apologies master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1482.3499755859375,"y":1212.75,"wires":[["da5732bf.d282c"]]},{"id":"37f89e76.fdf20a","type":"serial in","z":"862bf685.1e191","name":"Espruino","serial":"4838891c.8e6ba8","x":151.26666259765625,"y":898.9833068847656,"wires":[["49a77b29.29d3f4","42f25aff.32439c"]]},{"id":"42f25aff.32439c","type":"debug","z":"862bf685.1e191","name":"Espruino output","active":false,"console":"false","complete":"payload","x":449.26666259765625,"y":903.449951171875,"wires":[]},{"id":"389e4d94.0c1242","type":"debug","z":"862bf685.1e191","name":"","active":true,"console":"false","complete":"false","x":837.4000091552734,"y":369.3833312988281,"wires":[]}]