node-RED/flows_k9.json
[{"id":"862bf685.1e191","type":"tab","label":"Controller App Commands","disabled":false,"info":""},{"id":"998eeeb2.aecad8","type":"tab","label":"Browser flow","disabled":false,"info":""},{"id":"8a591d1b.366998","type":"tab","label":"Redis","disabled":false,"info":""},{"id":"ac1e6641.98cea8","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"ee6a7f8.d278b","type":"websocket-client","z":"","path":"/ws/motors","wholemsg":"false"},{"id":"4e90dcd1.dcdeb4","type":"websocket-listener","z":"","path":"/ws/k9","wholemsg":"false"},{"id":"4838891c.8e6ba8","type":"serial-port","z":"862bf685.1e191","serialport":"/dev/tty.usbmodem1421","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"!","bin":"false","out":"char","addchar":false},{"id":"38ed29c2.496bbe","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#000000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#262626","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#000000","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"K9 Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4c694f76.fa176","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"44b6aec7.71ebb","type":"ui_group","z":"","name":"Speed","tab":"4c694f76.fa176","disp":true,"width":"6"},{"id":"d6200530.3d4888","type":"ui_group","z":"","name":"Power","tab":"4c694f76.fa176","disp":true,"width":"6"},{"id":"58ab4164.e74de8","type":"ui_group","z":"","name":"Environment","tab":"4c694f76.fa176","disp":true,"width":"6"},{"id":"c323b361.343c58","type":"websocket-listener","z":"","path":"/ws/sensors","wholemsg":"false"},{"id":"b6a6e603.101a38","type":"serial-port","z":"","serialport":"/dev/cu.usbmodem1411","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"1172719f.edd72e","type":"websocket-listener","z":"","path":"/ws/ultrasonic","wholemsg":"false"},{"id":"ccb581e.3ee22","type":"redis-config","z":"","host":"{{127.0.0.1}}","port":"{{6379}}","dbase":"{{0}}","pass":""},{"id":"7e3df1d7.25a55","type":"websocket in","z":"862bf685.1e191","name":"Web socket instructions","server":"4e90dcd1.dcdeb4","client":"","x":118.44999694824219,"y":168.08334350585938,"wires":[["bc5641fd.f5bcc","b40165f7.aa926"]]},{"id":"8ea1d0fb.01df3","type":"debug","z":"862bf685.1e191","name":"std out","active":false,"console":"false","complete":"payload","x":2129.0928802490234,"y":659.8334503173828,"wires":[]},{"id":"f804dca3.79a7d","type":"function","z":"862bf685.1e191","name":"Generate execution path","func":"var execute = msg.payload.object + \"_\" + msg.payload.status ;\nexecute = \"/home/pi/site/python/\" + execute + \".py\";\nmsg.payload = execute;\nreturn msg;","outputs":1,"x":1167.8428192138672,"y":489.3334503173828,"wires":[["90ca98e6.ae57f8"]]},{"id":"90ca98e6.ae57f8","type":"exec","z":"862bf685.1e191","command":"sudo python ","addpay":true,"append":"","useSpawn":"","name":"Move head or tail","x":1598.3428955078125,"y":551.0834350585938,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"98e57e3f.6357a","type":"debug","z":"862bf685.1e191","name":"error","active":false,"console":"false","complete":"payload","x":2126.3428802490234,"y":794.0834503173828,"wires":[]},{"id":"8d8d946a.07b27","type":"debug","z":"862bf685.1e191","name":"rc","active":false,"console":"false","complete":"payload","x":2131.3428802490234,"y":915.8334503173828,"wires":[]},{"id":"8a94e39b.10b3a8","type":"switch","z":"862bf685.1e191","name":"Message type received","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"information","vt":"str"},{"t":"eq","v":"navigation","vt":"str"},{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"mood","vt":"str"},{"t":"eq","v":"servo","vt":"str"}],"checkall":"false","outputs":5,"x":558.7833099365234,"y":342.50001430511475,"wires":[["f4ffd356.1ac69"],["b9e8a636.7fea6"],["3ace8e31.27e3aa"],["137a52bc.bb982d","389e4d94.0c1242"],["f75f9092.fe5308"]]},{"id":"bc5641fd.f5bcc","type":"debug","z":"862bf685.1e191","name":"Web socket (k9)","active":false,"console":"false","complete":"payload","x":396.88328552246094,"y":171.60003662109375,"wires":[]},{"id":"3ace8e31.27e3aa","type":"switch","z":"862bf685.1e191","name":"Lights, tail and head","property":"payload.object","propertyType":"msg","rules":[{"t":"eq","v":"lights","vt":"str"},{"t":"eq","v":"head","vt":"str"},{"t":"eq","v":"eyes","vt":"str"},{"t":"eq","v":"tail","vt":"str"},{"t":"eq","v":"motorctrl","vt":"str"}],"checkall":"false","outputs":5,"x":871.4500122070312,"y":457.75,"wires":[["a40dbe2e.9060c"],["f804dca3.79a7d"],["65c98b38.01afd4"],["5200e6ce.16c9f8"],["2541a9f1.c7d376"]]},{"id":"69c302c2.08a30c","type":"comment","z":"862bf685.1e191","name":"Websocket Commands from Controller App","info":"The ws websocket receives messages from the browser","x":191.78330993652344,"y":113.75,"wires":[]},{"id":"be4953bd.9f28b8","type":"debug","z":"862bf685.1e191","name":"Information received","active":false,"console":"false","complete":"payload","x":1335.7832489013672,"y":369.75001525878906,"wires":[]},{"id":"137a52bc.bb982d","type":"switch","z":"862bf685.1e191","name":"Moods","property":"payload.object","rules":[{"t":"eq","v":"wake_up"},{"t":"eq","v":"sad"},{"t":"eq","v":"scanning"},{"t":"eq","v":"sleep"},{"t":"eq","v":"thanks"},{"t":"eq","v":"home"}],"checkall":"true","outputs":6,"x":940,"y":840,"wires":[["1be893ee.5efc4c","f3cd85ea.7dd4b"],["53c799e6.641948","b64f4d7e.a05338"],["1be893ee.5efc4c","5ff43aea.a73bcc","e7b324f3.a65a1"],["4dd58e9a.877f58"],["5b8dee02.8694e8","e6d28b19.ba73f8"],["6d5c8b76.86022c","2e609a0b.9999be"]]},{"id":"1be893ee.5efc4c","type":"change","z":"862bf685.1e191","name":"Wake Up","rules":[{"t":"set","p":"payload","to":"1"}],"action":"","property":"","from":"","to":"","reg":false,"x":1138.7832794189453,"y":762.9722442626953,"wires":[["3f5a17cd.69b0e8","7b7bbd05.ce793c","ad4d7541.6e2368","2ddb2b0b.762b0c"]]},{"id":"4dd58e9a.877f58","type":"change","z":"862bf685.1e191","name":"Sleep","rules":[{"t":"set","p":"payload","to":"0"}],"action":"","property":"","from":"","to":"","reg":false,"x":1263.7833251953125,"y":972.75,"wires":[["53c799e6.641948","37819ec.0c602e2","ad4d7541.6e2368","2ddb2b0b.762b0c","e2ed9c3.5aa206"]]},{"id":"3f5a17cd.69b0e8","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/head_up.py","addpay":false,"append":"","useSpawn":"","name":"Head Up","x":1576.7833099365234,"y":965.7500152587891,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"53c799e6.641948","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/head_down.py","addpay":false,"append":"","useSpawn":"","name":"Head Down","x":1581.7833099365234,"y":1035.750015258789,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"6e59cecb.b8f248","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/scanning.py","addpay":false,"append":"","useSpawn":"","name":"Scanning","x":1864.7833099365234,"y":867.7500152587891,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"f75f9092.fe5308","type":"template","z":"862bf685.1e191","name":"Command arguments","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.object}} {{payload.value}} ","x":1096.7833251953125,"y":1459.9999389648438,"wires":[["d971dddc.17f88"]]},{"id":"d971dddc.17f88","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/servotuner.py","addpay":true,"append":"","useSpawn":"","name":"Servotuner","x":1620.783203125,"y":1458.2499389648438,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"5ff43aea.a73bcc","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/head_up.py","addpay":false,"append":"","useSpawn":"","name":"Head Up","x":1472.7833099365234,"y":862.7500152587891,"wires":[["5e9ea393.ef9c5c"],[],[]]},{"id":"5e9ea393.ef9c5c","type":"delay","z":"862bf685.1e191","name":"Wait for neck to raise","pauseType":"delay","timeout":"0.75","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1660.7833099365234,"y":869.7500152587891,"wires":[["6e59cecb.b8f248"]]},{"id":"390770d9.c06dc","type":"websocket out","z":"862bf685.1e191","name":"Send message to K9 Python Controller","server":"","client":"ee6a7f8.d278b","x":1375.7832489013672,"y":278.75001525878906,"wires":[]},{"id":"b40165f7.aa926","type":"json","z":"862bf685.1e191","name":"","x":265.78330993652344,"y":305.75001525878906,"wires":[["8a94e39b.10b3a8"]]},{"id":"b9e8a636.7fea6","type":"json","z":"862bf685.1e191","name":"","x":810.7832489013672,"y":317.75001525878906,"wires":[["48783327.1f8404"]]},{"id":"48783327.1f8404","type":"change","z":"862bf685.1e191","name":"Delete session information","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1039.7832489013672,"y":312.75001525878906,"wires":[["390770d9.c06dc","be4953bd.9f28b8"]]},{"id":"a40dbe2e.9060c","type":"function","z":"862bf685.1e191","name":"Translate 'on'/'off' to 1 or 0","func":"context.global.backpanel = msg.payload.status;\nif (msg.payload.status == \"on\") {\n    msg.payload = 1;\n    } else {\n    msg.payload = 0;\n    }\nreturn msg;","outputs":"1","noerr":0,"x":1167.4499969482422,"y":432.75001525878906,"wires":[["ad4d7541.6e2368"]]},{"id":"65c98b38.01afd4","type":"function","z":"862bf685.1e191","name":"Translate 'on'/'off' to 1 or 0","func":"context.global.eyes = msg.payload.status;\nif (msg.payload.status == \"on\") {\n    msg.payload = 1;\n    } else {\n    msg.payload = 0;\n    }\nreturn msg;\n// fjfddfjkjd","outputs":"1","noerr":0,"x":1170.4499969482422,"y":542.7500152587891,"wires":[["2ddb2b0b.762b0c"]]},{"id":"7b7bbd05.ce793c","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/tail_up.py","addpay":false,"append":"","useSpawn":"","name":"Tail Up","x":1604.4499969482422,"y":811.7500152587891,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"37819ec.0c602e2","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/tail_down.py","addpay":false,"append":"","useSpawn":"","name":"Tail Down","x":1569.4499969482422,"y":1097.750015258789,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"5200e6ce.16c9f8","type":"function","z":"862bf685.1e191","name":"Generate execution path","func":"var execute = msg.payload.object + \"_\" + msg.payload.status ;\nexecute = \"/home/pi/site/python/\" + execute + \".py\";\nmsg.payload = execute;\nreturn msg;","outputs":1,"x":1169.449951171875,"y":595.75,"wires":[["90ca98e6.ae57f8"]]},{"id":"e6d28b19.ba73f8","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/wag_v.py","addpay":false,"append":"","useSpawn":"","name":"Wag tail vertically","x":1036.449951171875,"y":1110.75,"wires":[[],[],[]]},{"id":"2e609a0b.9999be","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/wag_h.py","addpay":false,"append":"","useSpawn":"","name":"Wag tail sideways","x":1029.4500122070312,"y":1177.75,"wires":[[],[],[]]},{"id":"f4ffd356.1ac69","type":"debug","z":"862bf685.1e191","name":"Information","active":false,"console":"false","complete":"payload","x":831.9611206054688,"y":260.0444564819336,"wires":[]},{"id":"ad4d7541.6e2368","type":"debug","z":"862bf685.1e191","name":"LIGHTS RPI GPIO OUT","active":true,"console":"false","complete":"payload","x":1612.449951171875,"y":620.4500732421875,"wires":[]},{"id":"2ddb2b0b.762b0c","type":"debug","z":"862bf685.1e191","name":"EYES RPI GPIO OUT","active":true,"console":"false","complete":"payload","x":1602.449951171875,"y":668.4500732421875,"wires":[]},{"id":"51da7ec7.50d39","type":"exec","z":"862bf685.1e191","command":"espeak -v en-uk-rp -p 99 -s 150 -k40","addpay":true,"append":"","useSpawn":false,"name":"Speech","x":2047.88330078125,"y":1252.88330078125,"wires":[["b7a56a23.71c838"],[],[]]},{"id":"5392ccf4.94e914","type":"debug","z":"862bf685.1e191","name":"","active":true,"console":"false","complete":"false","x":2057.88330078125,"y":1165.8833618164062,"wires":[]},{"id":"da5732bf.d282c","type":"function","z":"862bf685.1e191","name":"Simple triggered queue","func":"// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\n\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var m = context.queue.shift();\n        return {payload:m};\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":1851.88330078125,"y":1251.88330078125,"wires":[["51da7ec7.50d39","5392ccf4.94e914"]]},{"id":"b7a56a23.71c838","type":"function","z":"862bf685.1e191","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":1940.8833312988281,"y":1394.88330078125,"wires":[["da5732bf.d282c"]]},{"id":"f3cd85ea.7dd4b","type":"function","z":"862bf685.1e191","name":"Speech: All systems operational","func":"msg.payload='\"All systems operational\"';\nreturn msg;","outputs":1,"noerr":0,"x":1501.4500732421875,"y":1167.449951171875,"wires":[["da5732bf.d282c"]]},{"id":"5b8dee02.8694e8","type":"function","z":"862bf685.1e191","name":"Speech: Thanks are not necessary","func":"msg.payload='\"Thanks are not necessary master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1501.3499755859375,"y":1341.349853515625,"wires":[["da5732bf.d282c"]]},{"id":"6d5c8b76.86022c","type":"function","z":"862bf685.1e191","name":"Speech: Welcome home master","func":"msg.payload='\"Welcome home master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1490.550048828125,"y":1387.949951171875,"wires":[["da5732bf.d282c"]]},{"id":"e2ed9c3.5aa206","type":"function","z":"862bf685.1e191","name":"Speech: Conserving battery power","func":"msg.payload='\"Conserving battery power\"';\nreturn msg;","outputs":1,"noerr":0,"x":1499.949951171875,"y":1298.349853515625,"wires":[["da5732bf.d282c"]]},{"id":"e7b324f3.a65a1","type":"function","z":"862bf685.1e191","name":"Speech: Scanning area","func":"msg.payload='\"Scanning area\"';\nreturn msg;","outputs":1,"noerr":0,"x":1472.25,"y":1253.550048828125,"wires":[["da5732bf.d282c"]]},{"id":"b64f4d7e.a05338","type":"function","z":"862bf685.1e191","name":"Speech: Apologies master","func":"msg.payload='\"Apologies master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1482.3499755859375,"y":1212.75,"wires":[["da5732bf.d282c"]]},{"id":"389e4d94.0c1242","type":"debug","z":"862bf685.1e191","name":"","active":true,"console":"false","complete":"false","x":837.4000091552734,"y":369.3833312988281,"wires":[]},{"id":"2541a9f1.c7d376","type":"function","z":"862bf685.1e191","name":"Translate 'on'/'off' to 1 or 0","func":"context.global.motorctrl = msg.payload.status;\nif (msg.payload.status == \"on\") {\n    msg.payload = 1;\n    } else {\n    msg.payload = 0;\n    }\nreturn msg;\n// fjfddfjkjd","outputs":"1","noerr":0,"x":1170,"y":650,"wires":[["73a8a91.fce2958"]]},{"id":"73a8a91.fce2958","type":"debug","z":"862bf685.1e191","name":"MOTOR CONTROL TOGGLE","active":true,"console":"false","complete":"payload","x":1627.5,"y":722.5,"wires":[]},{"id":"4a0fb46a.4ad7bc","type":"ui_gauge","z":"ac1e6641.98cea8","name":"Speed","group":"44b6aec7.71ebb","order":0,"width":0,"height":0,"gtype":"gage","title":"Speedometer","label":"%","format":"{{hover.toFixed(1)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":731,"y":213,"wires":[]},{"id":"b1809378.8d08f","type":"json","z":"ac1e6641.98cea8","name":"","x":374,"y":222,"wires":[["b1266188.f82c88","c322cabc.8990d","75d2f27a.9c3b3c","4031a7f6.16a01","437d9c8e.c68984"]]},{"id":"b1266188.f82c88","type":"change","z":"ac1e6641.98cea8","name":"Hover","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hover","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":544,"y":222,"wires":[["4a0fb46a.4ad7bc","97bae23a.1a5d08"]]},{"id":"c322cabc.8990d","type":"change","z":"ac1e6641.98cea8","name":"Motor volts","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main_volt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":552,"y":313,"wires":[["d7a8210b.ae9698"]]},{"id":"d7a8210b.ae9698","type":"ui_gauge","z":"ac1e6641.98cea8","name":"Motor Battery","group":"58ab4164.e74de8","order":0,"width":0,"height":0,"gtype":"gage","title":"Motor Battery","label":"Volts","format":"{{value.toFixed(1)}}","min":"12","max":"28","colors":["#ff0000","#ffff00","#00ff00"],"seg1":"","seg2":"","x":746,"y":314,"wires":[]},{"id":"75d2f27a.9c3b3c","type":"change","z":"ac1e6641.98cea8","name":"Logic volts","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brain_volt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":494,"y":422,"wires":[["e95274c7.29186"]]},{"id":"f07353e5.8dcb78","type":"ui_gauge","z":"ac1e6641.98cea8","name":"Brain Volts","group":"d6200530.3d4888","order":0,"width":0,"height":0,"gtype":"gage","title":"Brain Gauage","label":"Volts","format":"{{value.toFixed(1)}}","min":"10","max":"13","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":833,"y":449,"wires":[]},{"id":"4031a7f6.16a01","type":"change","z":"ac1e6641.98cea8","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":492,"y":490,"wires":[["db16c233.1c6cd"]]},{"id":"db16c233.1c6cd","type":"ui_gauge","z":"ac1e6641.98cea8","name":"Temperature","group":"58ab4164.e74de8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value.toFixed(1)}}","min":"20","max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":827,"y":557,"wires":[]},{"id":"97bae23a.1a5d08","type":"ui_chart","z":"ac1e6641.98cea8","name":"Velocity","group":"44b6aec7.71ebb","order":0,"width":0,"height":0,"label":"Tachometer","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#27a016","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":738,"y":266,"wires":[[],[]]},{"id":"e0ff0582.3a608","type":"delay","z":"ac1e6641.98cea8","name":"Slow refresh rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":271,"y":153,"wires":[["b1809378.8d08f"]]},{"id":"e95274c7.29186","type":"smooth","z":"ac1e6641.98cea8","name":"Mean Voltage","action":"mean","count":"3","round":"1","x":679,"y":378,"wires":[["f07353e5.8dcb78","7e43024a.5d040c"]]},{"id":"437d9c8e.c68984","type":"debug","z":"ac1e6641.98cea8","name":"","active":false,"console":"false","complete":"false","x":589.5,"y":165,"wires":[]},{"id":"7e43024a.5d040c","type":"ui_chart","z":"ac1e6641.98cea8","name":"Brain Battery","group":"d6200530.3d4888","order":0,"width":0,"height":0,"label":"Brain Battery","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"10","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#27a016","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":850,"y":500,"wires":[[],[]]},{"id":"f2c2385c.4200e8","type":"link in","z":"ac1e6641.98cea8","name":"Dashboard in","links":["a5e50ef2.393878","8531194.2965168","7f003dfc.b4348c"],"x":156,"y":73,"wires":[["e0ff0582.3a608"]]},{"id":"50965266.93e9ac","type":"websocket out","z":"998eeeb2.aecad8","name":"Send sensor readings and status to browser","server":"4e90dcd1.dcdeb4","client":"","x":890,"y":220,"wires":[]},{"id":"82cb9df8.f3f52","type":"change","z":"998eeeb2.aecad8","name":"Delete session information","rules":[{"t":"delete","p":"_session"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["50965266.93e9ac","8531194.2965168","e0fd443d.a8067"]]},{"id":"f7defeb2.05f328","type":"websocket in","z":"998eeeb2.aecad8","name":"Status received from K9 Python Controller","server":"","client":"ee6a7f8.d278b","x":240,"y":340,"wires":[["82cb9df8.f3f52"]]},{"id":"7b5d168f.22c28","type":"websocket in","z":"998eeeb2.aecad8","name":"Receive data from test harness","server":"c323b361.343c58","client":"","x":210,"y":280,"wires":[["82cb9df8.f3f52"]]},{"id":"1a9b4f4b.6a1919","type":"serial in","z":"998eeeb2.aecad8","name":"Espruino","serial":"b6a6e603.101a38","x":140,"y":220,"wires":[["924f5f28.d3151"]]},{"id":"8531194.2965168","type":"link out","z":"998eeeb2.aecad8","name":"to Dashboard","links":["f2c2385c.4200e8"],"x":767.333251953125,"y":141.33331298828125,"wires":[],"inputLabels":["sensor data"]},{"id":"192f3723.edbb21","type":"debug","z":"998eeeb2.aecad8","name":"Espruino output","active":true,"console":"false","complete":"payload","x":500,"y":140,"wires":[]},{"id":"29352c53.564534","type":"comment","z":"998eeeb2.aecad8","name":"Passes data to Controller App","info":"Data received by the Pi and then forwarded\nfor display to the end user on the Controller\nApp.\n\nInformation flowing includes:\n\nEspruino (USB/serial) - Ultrasonic sensor input\nMotorController (socket) - ????\nEspruino (USB/serial)","x":200,"y":80,"wires":[]},{"id":"924f5f28.d3151","type":"json","z":"998eeeb2.aecad8","name":"","pretty":false,"x":290,"y":220,"wires":[["192f3723.edbb21","82cb9df8.f3f52"]]},{"id":"1abe9eb3.627959","type":"websocket in","z":"998eeeb2.aecad8","name":"Ultrasonic harness","server":"1172719f.edd72e","client":"","x":166.5,"y":424.25,"wires":[["b1f5ccd6.bcf2c"]]},{"id":"b1f5ccd6.bcf2c","type":"json","z":"998eeeb2.aecad8","name":"","pretty":false,"x":350,"y":420,"wires":[["82cb9df8.f3f52"]]},{"id":"466a0378.9a1a74","type":"redis-command","z":"8a591d1b.366998","server":"ccb581e.3ee22","command":"incr","name":"Get msg_key","topic":"","x":352.3333740234375,"y":261.19046783447266,"wires":[["d4f86d30.325968"]]},{"id":"80040ec8.6cabd8","type":"function","z":"8a591d1b.366998","name":"Store msg in msg.sensor","func":"msg.sensor = msg.payload\nmsg.payload=['message_num'];\nreturn msg;","outputs":1,"noerr":0,"x":220.90481567382812,"y":213.04763793945312,"wires":[["466a0378.9a1a74"]]},{"id":"f816afcb.1be7f8","type":"debug","z":"8a591d1b.366998","name":"","active":true,"console":"false","complete":"false","x":1180.2858581542969,"y":725.7023239135742,"wires":[]},{"id":"d4f86d30.325968","type":"function","z":"8a591d1b.366998","name":"Create HMSET","func":"msg.key = \"message_\"+msg.payload;\nmsg.payload = [msg.key,msg.sensor];\nreturn msg;","outputs":1,"noerr":0,"x":416.61907958984375,"y":316.1904830932617,"wires":[["451f58e.e8a2aa8"]]},{"id":"451f58e.e8a2aa8","type":"redis-command","z":"8a591d1b.366998","server":"ccb581e.3ee22","command":"hmset","name":"Store message","topic":"","x":494.90472412109375,"y":362.76192474365234,"wires":[["a7f42235.890c88"]]},{"id":"a7f42235.890c88","type":"function","z":"8a591d1b.366998","name":"Set expiry value","func":"msg.payload=[msg.key,10]\nreturn msg;","outputs":1,"noerr":0,"x":594.9048156738281,"y":413.61901092529297,"wires":[["ed6ec581.05b6f"]]},{"id":"ed6ec581.05b6f","type":"redis-command","z":"8a591d1b.366998","server":"ccb581e.3ee22","command":"expire","name":"Expire messages in 10s","topic":"","x":702.9048156738281,"y":463.6190719604492,"wires":[["5ee7a40f.ff7b74"]]},{"id":"5ee7a40f.ff7b74","type":"function","z":"8a591d1b.366998","name":"Push to sensor list","func":"msg.payload = [msg.sensor.sensor,msg.key]\nreturn msg;","outputs":1,"noerr":0,"x":812.3334045410156,"y":516.9047775268555,"wires":[["8fa4262.2c8ea58"]]},{"id":"72aafd70.a3897c","type":"link in","z":"8a591d1b.366998","name":"","links":["f2a5c4a8.3b9f88"],"x":171.45233154296875,"y":157.3095245361328,"wires":[["80040ec8.6cabd8"]]},{"id":"f2a5c4a8.3b9f88","type":"link out","z":"998eeeb2.aecad8","name":"","links":["72aafd70.a3897c"],"x":1059.83349609375,"y":308.75,"wires":[]},{"id":"8fa4262.2c8ea58","type":"redis-command","z":"8a591d1b.366998","server":"ccb581e.3ee22","command":"lpush","name":"Store against sensor","topic":"","x":898.0238342285156,"y":567.9524307250977,"wires":[["618aab5c.e86d94"]]},{"id":"340ea7fd.eb8778","type":"redis-command","z":"8a591d1b.366998","server":"ccb581e.3ee22","command":"ltrim","name":"Trim sensor list","topic":"","x":1044.1666564941406,"y":669.6666793823242,"wires":[["f816afcb.1be7f8"]]},{"id":"618aab5c.e86d94","type":"function","z":"8a591d1b.366998","name":"Trim sensor list","func":"msg.payload = [msg.sensor.sensor,0,15]\nreturn msg;","outputs":1,"noerr":0,"x":972.6666564941406,"y":619.6666793823242,"wires":[["340ea7fd.eb8778"]]},{"id":"655b83ec.dc490c","type":"inject","z":"998eeeb2.aecad8","name":"Test data","topic":"","payload":"{\"type\":\"sensor\",\"sensor\":\"back_left\",\"distance\":\"100\",\"angle\":\"999\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":148,"wires":[["924f5f28.d3151"]]},{"id":"e0b87669.c3292","type":"comment","z":"8a591d1b.366998","name":"Stores sensor data in Redis DB","info":"This short flow is a non-transactional replica\nof the same code that is in the memory.py\nPython module.\n\nThis allows the readings collected from the\nEspruino sensors (including the follow me ultrasonic\nsensors, the IR proximity sensors and the button\nand touch sensors) to be stored in the same\nRedis database as the sensor data that has been\ngenerated by the Python based sensors (primarily\nthe ears, but also the motor encoders and environmental\nsensors).","x":218.833251953125,"y":85.00000762939453,"wires":[]},{"id":"e0fd443d.a8067","type":"switch","z":"998eeeb2.aecad8","name":"Only route sensor traffic","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"sensor","vt":"str"}],"checkall":"false","outputs":1,"x":847.4998779296875,"y":308.3333435058594,"wires":[["f2a5c4a8.3b9f88"]]}]