node-RED/flows_k9.json
[{"id":"2f6bc542.487b9a","type":"tab","label":"Controller init"},{"id":"862bf685.1e191","type":"tab","label":"Controller App Commands"},{"id":"998eeeb2.aecad8","type":"tab","label":"Browser flow"},{"id":"8a591d1b.366998","type":"tab","label":"Redis"},{"id":"4d5007b4.5118c8","type":"tab","label":"Espruino"},{"id":"53e10401.aab09c","type":"tab","label":"LIDAR data block to UI"},{"id":"ad534142.e3183","type":"tab","label":"Sensor data to UI"},{"id":"ac1e6641.98cea8","type":"tab","label":"Dashboard"},{"id":"ee6a7f8.d278b","type":"websocket-client","z":"","path":"/ws/motors","wholemsg":"false"},{"id":"4e90dcd1.dcdeb4","type":"websocket-listener","z":"","path":"/ws/k9","wholemsg":"false"},{"id":"38ed29c2.496bbe","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#000000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#333333","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#000000","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"K9 Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4c694f76.fa176","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"44b6aec7.71ebb","type":"ui_group","z":"","name":"Speed","tab":"4c694f76.fa176","disp":true,"width":"6"},{"id":"d6200530.3d4888","type":"ui_group","z":"","name":"Power","tab":"4c694f76.fa176","disp":true,"width":"6"},{"id":"58ab4164.e74de8","type":"ui_group","z":"","name":"Environment","tab":"4c694f76.fa176","disp":true,"width":"6"},{"id":"c323b361.343c58","type":"websocket-listener","z":"","path":"/ws/sensors","wholemsg":"false"},{"id":"1172719f.edd72e","type":"websocket-listener","z":"","path":"/ws/ultrasonic","wholemsg":"false"},{"id":"ccb581e.3ee22","type":"redis-config","z":"","host":"{{127.0.0.1}}","port":"{{6379}}","dbase":"{{0}}","pass":""},{"id":"b0d7ad50.36f7b","type":"serial-port","z":"","serialport":"/dev/ttyESPEars","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"}","bin":"false","out":"char","addchar":false},{"id":"70a4045c.a9966c","type":"serial-port","z":"","serialport":"/dev/ttyESPFollow","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"}","bin":"false","out":"char","addchar":false},{"id":"ad938920.6e8ec8","type":"serial-port","z":"","serialport":"/dev/ttyESPBack","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"}","bin":"false","out":"char","addchar":false},{"id":"7e3df1d7.25a55","type":"websocket in","z":"862bf685.1e191","name":"Web socket instructions","server":"4e90dcd1.dcdeb4","client":"","x":118.44999694824219,"y":168.08334350585938,"wires":[["bc5641fd.f5bcc","b40165f7.aa926"]]},{"id":"8ea1d0fb.01df3","type":"debug","z":"862bf685.1e191","name":"std out","active":false,"console":"false","complete":"payload","x":1953.0928039550781,"y":454.33343982696533,"wires":[]},{"id":"98e57e3f.6357a","type":"debug","z":"862bf685.1e191","name":"error","active":false,"console":"false","complete":"payload","x":1938.8428039550781,"y":502.58344078063965,"wires":[]},{"id":"8d8d946a.07b27","type":"debug","z":"862bf685.1e191","name":"rc","active":false,"console":"false","complete":"payload","x":1923.3427963256836,"y":562.333438873291,"wires":[]},{"id":"8a94e39b.10b3a8","type":"switch","z":"862bf685.1e191","name":"Message type received","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"information","vt":"str"},{"t":"eq","v":"navigation","vt":"str"},{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"servo","vt":"str"},{"t":"eq","v":"mood","vt":"str"}],"checkall":"false","outputs":5,"x":558.7833099365234,"y":342.50001430511475,"wires":[["f4ffd356.1ac69"],["b9e8a636.7fea6"],["7c857c07.54afc4"],["7c857c07.54afc4"],["675dbce4.341074"]]},{"id":"bc5641fd.f5bcc","type":"debug","z":"862bf685.1e191","name":"Web socket (k9)","active":false,"console":"false","complete":"payload","x":397.8832702636719,"y":167.60003662109375,"wires":[]},{"id":"69c302c2.08a30c","type":"comment","z":"862bf685.1e191","name":"Websocket Commands from Controller App","info":"The ws websocket receives messages from the browser","x":191.78330993652344,"y":113.75,"wires":[]},{"id":"be4953bd.9f28b8","type":"debug","z":"862bf685.1e191","name":"Information received","active":false,"console":"false","complete":"payload","x":1328.6403045654297,"y":266.89285945892334,"wires":[]},{"id":"137a52bc.bb982d","type":"switch","z":"862bf685.1e191","name":"Moods","property":"payload.object","rules":[{"t":"eq","v":"wake_up"},{"t":"eq","v":"sad"},{"t":"eq","v":"scanning"},{"t":"eq","v":"sleep"},{"t":"eq","v":"thanks"},{"t":"eq","v":"home"}],"checkall":"true","outputs":6,"x":695.0000114440918,"y":475.00000762939453,"wires":[["1be893ee.5efc4c","f3cd85ea.7dd4b"],["b64f4d7e.a05338"],["1be893ee.5efc4c","5ff43aea.a73bcc","e7b324f3.a65a1"],["4dd58e9a.877f58"],["5b8dee02.8694e8","e6d28b19.ba73f8"],["6d5c8b76.86022c","2e609a0b.9999be"]]},{"id":"1be893ee.5efc4c","type":"change","z":"862bf685.1e191","name":"Wake Up","rules":[{"t":"set","p":"payload","to":"1"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020.7833251953125,"y":451.4722595214844,"wires":[["7b7bbd05.ce793c","ad4d7541.6e2368","2ddb2b0b.762b0c"]]},{"id":"4dd58e9a.877f58","type":"change","z":"862bf685.1e191","name":"Sleep","rules":[{"t":"set","p":"payload","to":"0"}],"action":"","property":"","from":"","to":"","reg":false,"x":1058.783348083496,"y":675.2500038146973,"wires":[["e2ed9c3.5aa206","ad4d7541.6e2368","2ddb2b0b.762b0c"]]},{"id":"6e59cecb.b8f248","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/scanning.py","addpay":false,"append":"","useSpawn":"","name":"Scanning","x":1659.783332824707,"y":570.2500190734863,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"5ff43aea.a73bcc","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/head_up.py","addpay":false,"append":"","useSpawn":"","name":"Head Up","x":1267.783332824707,"y":565.2500190734863,"wires":[["5e9ea393.ef9c5c"],[],[]]},{"id":"5e9ea393.ef9c5c","type":"delay","z":"862bf685.1e191","name":"Wait for neck to raise","pauseType":"delay","timeout":"0.75","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1455.783332824707,"y":572.2500190734863,"wires":[["6e59cecb.b8f248"]]},{"id":"390770d9.c06dc","type":"websocket out","z":"862bf685.1e191","name":"Send message to K9 Python Controller","server":"","client":"ee6a7f8.d278b","x":1380.783203125,"y":343.1785583496094,"wires":[]},{"id":"b40165f7.aa926","type":"json","z":"862bf685.1e191","name":"","x":303.78330993652344,"y":320.75,"wires":[["8a94e39b.10b3a8","e15921bc.32cf2"]]},{"id":"b9e8a636.7fea6","type":"json","z":"862bf685.1e191","name":"","x":882.6404418945312,"y":328.60711669921875,"wires":[["48783327.1f8404"]]},{"id":"48783327.1f8404","type":"change","z":"862bf685.1e191","name":"Delete session information","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1068.7832641601562,"y":328.75,"wires":[["390770d9.c06dc","be4953bd.9f28b8"]]},{"id":"7b7bbd05.ce793c","type":"exec","z":"862bf685.1e191","command":"sudo python /var/www/html/python/tail_up.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"Tail Up","x":1257.449951171875,"y":455.25,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"e6d28b19.ba73f8","type":"exec","z":"862bf685.1e191","command":"sudo python /var/www/html/python/wag_v.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"Wag tail vertically","x":831.4499740600586,"y":813.2500038146973,"wires":[[],[],[]]},{"id":"2e609a0b.9999be","type":"exec","z":"862bf685.1e191","command":"sudo python /var/www/html/python/wag_h.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"Wag tail sideways","x":824.4500350952148,"y":880.2500038146973,"wires":[[],[],[]]},{"id":"f4ffd356.1ac69","type":"debug","z":"862bf685.1e191","name":"Connection/disconnection events","active":false,"console":"false","complete":"payload","x":872.9611206054688,"y":189.04446411132812,"wires":[]},{"id":"51da7ec7.50d39","type":"exec","z":"862bf685.1e191","command":"espeak -v en-uk-rp -p 99 -s 150 -k40","addpay":true,"append":"","useSpawn":false,"name":"Speech","x":1842.8833236694336,"y":955.3833045959473,"wires":[["b7a56a23.71c838"],[],[]]},{"id":"5392ccf4.94e914","type":"debug","z":"862bf685.1e191","name":"","active":false,"console":"false","complete":"false","x":1852.8833236694336,"y":868.3833656311035,"wires":[]},{"id":"da5732bf.d282c","type":"function","z":"862bf685.1e191","name":"Simple triggered queue","func":"// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\n\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var m = context.queue.shift();\n        return {payload:m};\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":1646.8833236694336,"y":954.3833045959473,"wires":[["51da7ec7.50d39","5392ccf4.94e914"]]},{"id":"b7a56a23.71c838","type":"function","z":"862bf685.1e191","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":1735.8833541870117,"y":1097.3833045959473,"wires":[["da5732bf.d282c"]]},{"id":"f3cd85ea.7dd4b","type":"function","z":"862bf685.1e191","name":"Speech: All systems operational","func":"msg.payload='\"All systems operational\"';\nreturn msg;","outputs":1,"noerr":0,"x":1296.450096130371,"y":869.9499549865723,"wires":[["da5732bf.d282c"]]},{"id":"5b8dee02.8694e8","type":"function","z":"862bf685.1e191","name":"Speech: Thanks are not necessary","func":"msg.payload='\"Thanks are not necessary master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1296.349998474121,"y":1043.8498573303223,"wires":[["da5732bf.d282c"]]},{"id":"6d5c8b76.86022c","type":"function","z":"862bf685.1e191","name":"Speech: Welcome home master","func":"msg.payload='\"Welcome home master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1285.5500717163086,"y":1090.4499549865723,"wires":[["da5732bf.d282c"]]},{"id":"e2ed9c3.5aa206","type":"function","z":"862bf685.1e191","name":"Speech: Conserving battery power","func":"msg.payload='\"Conserving battery power\"';\nreturn msg;","outputs":1,"noerr":0,"x":1294.9499740600586,"y":1000.8498573303223,"wires":[["da5732bf.d282c"]]},{"id":"e7b324f3.a65a1","type":"function","z":"862bf685.1e191","name":"Speech: Scanning area","func":"msg.payload='\"Scanning area\"';\nreturn msg;","outputs":1,"noerr":0,"x":1267.2500228881836,"y":956.0500526428223,"wires":[["da5732bf.d282c"]]},{"id":"b64f4d7e.a05338","type":"function","z":"862bf685.1e191","name":"Speech: Apologies master","func":"msg.payload='\"Apologies master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1277.349998474121,"y":915.2500038146973,"wires":[["da5732bf.d282c"]]},{"id":"4a0fb46a.4ad7bc","type":"ui_gauge","z":"ac1e6641.98cea8","name":"Speed","group":"44b6aec7.71ebb","order":0,"width":0,"height":0,"gtype":"gage","title":"Speedometer","label":"%","format":"{{hover.toFixed(1)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":731,"y":213,"wires":[]},{"id":"b1266188.f82c88","type":"change","z":"ac1e6641.98cea8","name":"Hover","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hover","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":544,"y":222,"wires":[["4a0fb46a.4ad7bc","97bae23a.1a5d08"]]},{"id":"c322cabc.8990d","type":"change","z":"ac1e6641.98cea8","name":"Motor volts","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main_volt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":552,"y":313,"wires":[["d7a8210b.ae9698"]]},{"id":"d7a8210b.ae9698","type":"ui_gauge","z":"ac1e6641.98cea8","name":"Motor Battery","group":"58ab4164.e74de8","order":0,"width":0,"height":0,"gtype":"gage","title":"Motor Battery","label":"Volts","format":"{{value.toFixed(1)}}","min":"12","max":"28","colors":["#ff0000","#ffff00","#00ff00"],"x":746,"y":314,"wires":[]},{"id":"75d2f27a.9c3b3c","type":"change","z":"ac1e6641.98cea8","name":"Logic volts","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brain_volt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":494,"y":422,"wires":[["e95274c7.29186"]]},{"id":"f07353e5.8dcb78","type":"ui_gauge","z":"ac1e6641.98cea8","name":"Brain Volts","group":"d6200530.3d4888","order":0,"width":0,"height":0,"gtype":"gage","title":"Brain Gauage","label":"Volts","format":"{{value.toFixed(1)}}","min":"10","max":"13","colors":["#ff0000","#e6e600","#00ff00"],"x":833,"y":449,"wires":[]},{"id":"4031a7f6.16a01","type":"change","z":"ac1e6641.98cea8","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":492,"y":490,"wires":[["db16c233.1c6cd"]]},{"id":"db16c233.1c6cd","type":"ui_gauge","z":"ac1e6641.98cea8","name":"Temperature","group":"58ab4164.e74de8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value.toFixed(1)}}","min":"20","max":"85","colors":["#00b500","#e6e600","#ca3838"],"x":827,"y":557,"wires":[]},{"id":"97bae23a.1a5d08","type":"ui_chart","z":"ac1e6641.98cea8","name":"Velocity","group":"44b6aec7.71ebb","order":0,"width":0,"height":0,"label":"Tachometer","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#27a016","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":738,"y":266,"wires":[[],[]]},{"id":"e0ff0582.3a608","type":"delay","z":"ac1e6641.98cea8","name":"Slow refresh rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":271,"y":153,"wires":[["437d9c8e.c68984","b1266188.f82c88","c322cabc.8990d","75d2f27a.9c3b3c","4031a7f6.16a01"]]},{"id":"e95274c7.29186","type":"smooth","z":"ac1e6641.98cea8","name":"Mean Voltage","action":"mean","count":"3","round":"1","x":679,"y":378,"wires":[["f07353e5.8dcb78","7e43024a.5d040c"]]},{"id":"437d9c8e.c68984","type":"debug","z":"ac1e6641.98cea8","name":"Input to dashboard","active":false,"console":"false","complete":"payload","x":603.5,"y":149,"wires":[]},{"id":"7e43024a.5d040c","type":"ui_chart","z":"ac1e6641.98cea8","name":"Brain Battery","group":"d6200530.3d4888","order":0,"width":0,"height":0,"label":"Brain Battery","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"10","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#27a016","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":850,"y":500,"wires":[[],[]]},{"id":"f2c2385c.4200e8","type":"link in","z":"ac1e6641.98cea8","name":"Dashboard in","links":["a5e50ef2.393878","8531194.2965168","7f003dfc.b4348c"],"x":148,"y":74,"wires":[["e0ff0582.3a608"]]},{"id":"50965266.93e9ac","type":"websocket out","z":"998eeeb2.aecad8","name":"Send sensor readings and status to browser","server":"4e90dcd1.dcdeb4","client":"","x":1412,"y":352,"wires":[]},{"id":"82cb9df8.f3f52","type":"change","z":"998eeeb2.aecad8","name":"Delete session information","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["484fd791.966db8","46dfd915.34d6f8"]]},{"id":"f7defeb2.05f328","type":"websocket in","z":"998eeeb2.aecad8","name":"Status received from K9 Python Controller","server":"","client":"ee6a7f8.d278b","x":186,"y":341,"wires":[["82cb9df8.f3f52"]]},{"id":"7b5d168f.22c28","type":"websocket in","z":"998eeeb2.aecad8","name":"Receive data from test harness","server":"c323b361.343c58","client":"","x":210,"y":280,"wires":[["82cb9df8.f3f52"]]},{"id":"8531194.2965168","type":"link out","z":"998eeeb2.aecad8","name":"to Dashboard","links":["f2c2385c.4200e8"],"x":1118.333251953125,"y":149.33331298828125,"wires":[]},{"id":"192f3723.edbb21","type":"debug","z":"998eeeb2.aecad8","name":"Espruino output","active":false,"console":"false","complete":"payload","x":500,"y":140,"wires":[]},{"id":"29352c53.564534","type":"comment","z":"998eeeb2.aecad8","name":"Passes data to Controller App","info":"Data received by the Pi and then forwarded\nfor display to the end user on the Controller\nApp.\n\nInformation flowing includes:\n\nEspruino (USB/serial) - Ultrasonic sensor input\nMotorController (socket) - ????\nEspruino (USB/serial)","x":200,"y":80,"wires":[]},{"id":"924f5f28.d3151","type":"json","z":"998eeeb2.aecad8","name":"","x":290,"y":220,"wires":[["192f3723.edbb21","82cb9df8.f3f52"]]},{"id":"1abe9eb3.627959","type":"websocket in","z":"998eeeb2.aecad8","name":"Ultrasonic harness","server":"1172719f.edd72e","client":"","x":149.5,"y":419.25,"wires":[["b1f5ccd6.bcf2c"]]},{"id":"b1f5ccd6.bcf2c","type":"json","z":"998eeeb2.aecad8","name":"","x":350,"y":420,"wires":[["82cb9df8.f3f52"]]},{"id":"466a0378.9a1a74","type":"redis-command","z":"8a591d1b.366998","server":"ccb581e.3ee22","command":"incr","name":"Get msg_key","topic":"","x":352.3333740234375,"y":261.19046783447266,"wires":[["d4f86d30.325968"]]},{"id":"80040ec8.6cabd8","type":"function","z":"8a591d1b.366998","name":"Store msg in msg.sensor","func":"msg.sensor = msg.payload\nmsg.payload=['message_num'];\nreturn msg;","outputs":1,"noerr":0,"x":220.90481567382812,"y":213.04763793945312,"wires":[["466a0378.9a1a74","608ee269.a7412c"]]},{"id":"f816afcb.1be7f8","type":"debug","z":"8a591d1b.366998","name":"","active":false,"console":"false","complete":"false","x":1180.2858581542969,"y":725.7023239135742,"wires":[]},{"id":"d4f86d30.325968","type":"function","z":"8a591d1b.366998","name":"Create HMSET","func":"msg.key = \"message_\"+msg.payload;\nmsg.payload = [msg.key,msg.sensor];\nreturn msg;","outputs":1,"noerr":0,"x":416.61907958984375,"y":316.1904830932617,"wires":[["451f58e.e8a2aa8"]]},{"id":"451f58e.e8a2aa8","type":"redis-command","z":"8a591d1b.366998","server":"ccb581e.3ee22","command":"hmset","name":"Store message","topic":"","x":494.90472412109375,"y":362.76192474365234,"wires":[["a7f42235.890c88"]]},{"id":"a7f42235.890c88","type":"function","z":"8a591d1b.366998","name":"Set expiry value","func":"msg.payload=[msg.key,10]\nreturn msg;","outputs":1,"noerr":0,"x":594.9048156738281,"y":413.61901092529297,"wires":[["ed6ec581.05b6f"]]},{"id":"ed6ec581.05b6f","type":"redis-command","z":"8a591d1b.366998","server":"ccb581e.3ee22","command":"expire","name":"Expire messages in 10s","topic":"","x":702.9048156738281,"y":463.6190719604492,"wires":[["5ee7a40f.ff7b74"]]},{"id":"5ee7a40f.ff7b74","type":"function","z":"8a591d1b.366998","name":"Push to sensor list","func":"msg.payload = [msg.sensor.sensor,msg.key]\nreturn msg;","outputs":1,"noerr":0,"x":812.3334045410156,"y":516.9047775268555,"wires":[["8fa4262.2c8ea58"]]},{"id":"72aafd70.a3897c","type":"link in","z":"8a591d1b.366998","name":"Redis In","links":["f2a5c4a8.3b9f88","c0cea394.f0c6b"],"x":171.45233154296875,"y":157.3095245361328,"wires":[["80040ec8.6cabd8"]]},{"id":"f2a5c4a8.3b9f88","type":"link out","z":"998eeeb2.aecad8","name":"","links":["72aafd70.a3897c"],"x":1382.83349609375,"y":217.75,"wires":[]},{"id":"8fa4262.2c8ea58","type":"redis-command","z":"8a591d1b.366998","server":"ccb581e.3ee22","command":"lpush","name":"Store against sensor","topic":"","x":898.0238342285156,"y":567.9524307250977,"wires":[["618aab5c.e86d94"]]},{"id":"340ea7fd.eb8778","type":"redis-command","z":"8a591d1b.366998","server":"ccb581e.3ee22","command":"ltrim","name":"Trim sensor list","topic":"","x":1044.1666564941406,"y":669.6666793823242,"wires":[["f816afcb.1be7f8"]]},{"id":"618aab5c.e86d94","type":"function","z":"8a591d1b.366998","name":"Trim sensor list","func":"msg.payload = [msg.sensor.sensor,0,15]\nreturn msg;","outputs":1,"noerr":0,"x":972.6666564941406,"y":619.6666793823242,"wires":[["340ea7fd.eb8778"]]},{"id":"655b83ec.dc490c","type":"inject","z":"998eeeb2.aecad8","name":"Test data","topic":"","payload":"{\"type\":\"sensor\",\"sensor\":\"back_left\",\"distance\":\"100\",\"angle\":\"999\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":148,"wires":[["924f5f28.d3151"]]},{"id":"e0b87669.c3292","type":"comment","z":"8a591d1b.366998","name":"Stores sensor data in Redis DB","info":"This short flow is a non-transactional replica\nof the same code that is in the memory.py\nPython module.\n\nThis allows the readings collected from the\nEspruino sensors (including the follow me ultrasonic\nsensors, the IR proximity sensors and the button\nand touch sensors) to be stored in the same\nRedis database as the sensor data that has been\ngenerated by the Python based sensors (primarily\nthe ears, but also the motor encoders and environmental\nsensors).","x":218.833251953125,"y":85.00000762939453,"wires":[]},{"id":"e0fd443d.a8067","type":"switch","z":"998eeeb2.aecad8","name":"Only route sensor traffic","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"sensor","vt":"str"}],"checkall":"false","outputs":1,"x":1210.4998779296875,"y":217.33334350585938,"wires":[["f2a5c4a8.3b9f88","52445880.ae7598"]]},{"id":"c5aede6d.303da","type":"redis-command","z":"53e10401.aab09c","server":"ccb581e.3ee22","command":"lrange","name":"Retrieve Ear Messages","topic":"","x":300.5,"y":282,"wires":[["6958a7d9.4b0908"]]},{"id":"a757776c.7c4ff8","type":"inject","z":"53e10401.aab09c","name":"Left ear interval","topic":"","payload":"l_ear","payloadType":"str","repeat":"0.5","crontab":"","once":false,"x":151.5,"y":111,"wires":[["90807107.b7469"]]},{"id":"280efd15.8f9092","type":"serial in","z":"4d5007b4.5118c8","name":"Espruino for Ears","serial":"b0d7ad50.36f7b","x":131.5,"y":91,"wires":[["36be0e13.55fcd2"]]},{"id":"991c3370.01a4c","type":"serial out","z":"4d5007b4.5118c8","name":"Espruino for Ears","serial":"b0d7ad50.36f7b","x":690.5,"y":436,"wires":[]},{"id":"de6bc177.50dcf","type":"inject","z":"4d5007b4.5118c8","name":"Stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":364.5,"y":437,"wires":[["991c3370.01a4c"]]},{"id":"c0cea394.f0c6b","type":"link out","z":"4d5007b4.5118c8","name":"","links":["72aafd70.a3897c"],"x":794.5,"y":92,"wires":[]},{"id":"d589e4ba.a70858","type":"function","z":"53e10401.aab09c","name":"Prepare for Redis HMGETALL","func":"msg.payload=[msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":315.5,"y":364,"wires":[["c4ec291c.0210a8"]]},{"id":"c4ec291c.0210a8","type":"redis-command","z":"53e10401.aab09c","server":"ccb581e.3ee22","command":"hgetall","name":"Get hash values of Ear Messages","topic":"","x":327.5,"y":410,"wires":[["3329aced.6427c4"]]},{"id":"94ac4b58.609438","type":"inject","z":"4d5007b4.5118c8","name":"Normal","topic":"","payload":"normal","payloadType":"str","repeat":"","crontab":"","once":false,"x":205,"y":650,"wires":[["991c3370.01a4c"]]},{"id":"6958a7d9.4b0908","type":"split","z":"53e10401.aab09c","name":"Split messages into separate requests","splt":"\\n","x":338.5,"y":322,"wires":[["d589e4ba.a70858"]]},{"id":"3329aced.6427c4","type":"join","z":"53e10401.aab09c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"15","x":237.5,"y":453,"wires":[["c441ef6b.0e2c8"]]},{"id":"670089b4.783748","type":"function","z":"53e10401.aab09c","name":"Prepare for Redis LRANGE retrieve","func":"msg.payload=[msg.payload,0,-1];\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":241,"wires":[["c5aede6d.303da"]]},{"id":"a39e75af.4ab668","type":"inject","z":"53e10401.aab09c","name":"Right ear interval","topic":"","payload":"r_ear","payloadType":"str","repeat":"0.5","crontab":"","once":false,"x":533,"y":102,"wires":[["9cf584a8.cefb38"]]},{"id":"b6851690.a06d08","type":"redis-command","z":"53e10401.aab09c","server":"ccb581e.3ee22","command":"lrange","name":"Retrieve Ear Messages","topic":"","x":692,"y":278,"wires":[["99b067fd.064818"]]},{"id":"197e75e2.744a6a","type":"function","z":"53e10401.aab09c","name":"Prepare for Redis HMGETALL","func":"msg.payload=[msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":729,"y":360,"wires":[["b11d9da5.fe015"]]},{"id":"b11d9da5.fe015","type":"redis-command","z":"53e10401.aab09c","server":"ccb581e.3ee22","command":"hgetall","name":"Get hash values of Ear Messages","topic":"","x":738,"y":401,"wires":[["6ec7c690.904958"]]},{"id":"99b067fd.064818","type":"split","z":"53e10401.aab09c","name":"Split messages into separate requests","splt":"\\n","x":731,"y":321,"wires":[["197e75e2.744a6a"]]},{"id":"c441ef6b.0e2c8","type":"function","z":"53e10401.aab09c","name":"Sort messages by angle","func":"function mySorter(a, b) {\n    var x = 999;\n    var y = 999;\n    if (a.angle){\n        x = parseFloat(a.angle);\n        }\n    if (b.angle){\n        y = parseFloat(b.angle);\n    }\n    return ((x < y) ? -1 : ((x > y) ? 1 : 0));\n}\n\nfunction isEmpty(obj) {\n    for(var key in obj) {\n        if(obj.hasOwnProperty(key))\n            return false;\n    }\n    return true;\n}\n\nvar payload = [];\n\npayload=msg.payload;\n\npayload.sort(mySorter);\n\nvar arrayLength = payload.length;\nfor (var i = 0; i < arrayLength; i++) {\n    if (isEmpty(payload[i]))\n    {\n      payload.splice(i);\n      break;\n    }\n}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":766,"y":489,"wires":[["429a4cc8.82c95c"]]},{"id":"60970174.b4941","type":"json","z":"53e10401.aab09c","name":"Convert JSON to strings","x":756,"y":632,"wires":[["dee961d9.13dc68"]]},{"id":"6ec7c690.904958","type":"join","z":"53e10401.aab09c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"15","x":625,"y":446,"wires":[["c441ef6b.0e2c8"]]},{"id":"3399ae27.17b8b2","type":"function","z":"53e10401.aab09c","name":"Prepare for Redis LRANGE retrieve","func":"msg.payload=[msg.payload,0,-1];\nreturn msg;","outputs":1,"noerr":0,"x":722.5,"y":234,"wires":[["b6851690.a06d08"]]},{"id":"dee961d9.13dc68","type":"websocket out","z":"53e10401.aab09c","name":"Send data to UI","server":"4e90dcd1.dcdeb4","client":"","x":908.5,"y":693,"wires":[]},{"id":"429a4cc8.82c95c","type":"change","z":"53e10401.aab09c","name":"Move payload to data array","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":772.5,"y":533,"wires":[["4bfdb359.ef8204"]]},{"id":"4bfdb359.ef8204","type":"change","z":"53e10401.aab09c","name":"Make message type 'collection'","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"collection","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770.5,"y":577,"wires":[["60970174.b4941"]]},{"id":"9e2fc2f3.7a638","type":"inject","z":"4d5007b4.5118c8","name":"medium","topic":"","payload":"medium","payloadType":"str","repeat":"","crontab":"","once":false,"x":205,"y":514,"wires":[["991c3370.01a4c"]]},{"id":"e41af3c7.f21fa","type":"inject","z":"4d5007b4.5118c8","name":"slow","topic":"slow","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":205.5,"y":584,"wires":[["991c3370.01a4c"]]},{"id":"4864cd92.a6a494","type":"inject","z":"4d5007b4.5118c8","name":"Fast","topic":"","payload":"fast","payloadType":"str","repeat":"","crontab":"","once":false,"x":244.5,"y":716,"wires":[["991c3370.01a4c"]]},{"id":"ad4d7541.6e2368","type":"debug","z":"862bf685.1e191","name":"LIGHTS RPI GPIO OUT","active":false,"console":"false","complete":"payload","x":1354.9499740600586,"y":702.9500761032104,"wires":[]},{"id":"2ddb2b0b.762b0c","type":"debug","z":"862bf685.1e191","name":"EYES RPI GPIO OUT","active":false,"console":"false","complete":"payload","x":1342.4499740600586,"y":770.9500770568848,"wires":[]},{"id":"167097d9.c1b798","type":"serial in","z":"4d5007b4.5118c8","name":"Espruino for Follow Me","serial":"70a4045c.a9966c","x":136.5,"y":166,"wires":[["af14bc67.4cca"]]},{"id":"ab3d1dec.dc778","type":"inject","z":"ad534142.e3183","name":"Transmit ultrasonic data","topic":"","payload":"ultrasonic","payloadType":"str","repeat":"0.5","crontab":"","once":false,"x":200.5,"y":54,"wires":[["1aaa5e0a.8a6762"]]},{"id":"f4d9e863.6c16a8","type":"redis-command","z":"ad534142.e3183","server":"ccb581e.3ee22","command":"lrange","name":"Retrieve latest requested message","topic":"","x":539,"y":245,"wires":[["cb678919.385738"]]},{"id":"1aaa5e0a.8a6762","type":"function","z":"ad534142.e3183","name":"Prepare for Redis LRANGE retrieve","func":"msg.payload=[msg.payload,0,0];\nreturn msg;","outputs":1,"noerr":0,"x":537.5,"y":195,"wires":[["f4d9e863.6c16a8"]]},{"id":"cb678919.385738","type":"function","z":"ad534142.e3183","name":"Prepare for Redis HMGETALL","func":"msg.payload=[msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":527,"y":297,"wires":[["74fcfcb9.5958d4"]]},{"id":"74fcfcb9.5958d4","type":"redis-command","z":"ad534142.e3183","server":"ccb581e.3ee22","command":"hgetall","name":"Get hash values of requested message","topic":"","x":557,"y":351,"wires":[["81c27c8b.54f25"]]},{"id":"81c27c8b.54f25","type":"json","z":"ad534142.e3183","name":"","x":715.5,"y":407,"wires":[["e44bd4d8.9e21d8","5872e564.98b1ec"]]},{"id":"e44bd4d8.9e21d8","type":"debug","z":"ad534142.e3183","name":"","active":false,"console":"false","complete":"false","x":852.5,"y":534,"wires":[]},{"id":"5872e564.98b1ec","type":"websocket out","z":"ad534142.e3183","name":"Send data to UI","server":"4e90dcd1.dcdeb4","client":"","x":874,"y":462,"wires":[]},{"id":"c74f9bd7.f97998","type":"serial in","z":"4d5007b4.5118c8","name":"Espruino for Back Panel","serial":"ad938920.6e8ec8","x":152.5,"y":254,"wires":[["696d5c19.d5a444","18310b84.601394"]]},{"id":"a79bcd67.65308","type":"inject","z":"ad534142.e3183","name":"Transmit tail data","topic":"","payload":"tail","payloadType":"str","repeat":"1","crontab":"","once":false,"x":213,"y":101,"wires":[["1aaa5e0a.8a6762"]]},{"id":"8e3b55d0.ba1ac8","type":"inject","z":"ad534142.e3183","name":"Transmit left data","topic":"","payload":"left","payloadType":"str","repeat":"1","crontab":"","once":false,"x":223,"y":146,"wires":[["1aaa5e0a.8a6762"]]},{"id":"a1a6edcc.12ab4","type":"inject","z":"ad534142.e3183","name":"Transmit right data","topic":"","payload":"right","payloadType":"str","repeat":"1","crontab":"","once":false,"x":216,"y":192,"wires":[["1aaa5e0a.8a6762"]]},{"id":"3d62ee44.906792","type":"inject","z":"ad534142.e3183","name":"Transmit bottom right corner data","topic":"","payload":"br_corner","payloadType":"str","repeat":"1","crontab":"","once":false,"x":180,"y":240,"wires":[["1aaa5e0a.8a6762"]]},{"id":"bbba96d6.83d488","type":"inject","z":"ad534142.e3183","name":"Transmit bottom left corner data","topic":"","payload":"bl_corner","payloadType":"str","repeat":"1","crontab":"","once":false,"x":180,"y":287,"wires":[["1aaa5e0a.8a6762"]]},{"id":"696d5c19.d5a444","type":"debug","z":"4d5007b4.5118c8","name":"","active":false,"console":"false","complete":"false","x":422.5,"y":248,"wires":[]},{"id":"920aa229.9a1e5","type":"inject","z":"862bf685.1e191","name":"Wag tail","topic":"","payload":"Wag tail","payloadType":"str","repeat":"","crontab":"","once":false,"x":572.5,"y":828,"wires":[["e6d28b19.ba73f8"]]},{"id":"29e2652a.d8aaaa","type":"inject","z":"862bf685.1e191","name":"Wag tail sideways","topic":"Wag tail","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":533.5,"y":883,"wires":[["2e609a0b.9999be"]]},{"id":"a2c6f948.293688","type":"inject","z":"2f6bc542.487b9a","name":"Reset state","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":198,"y":157,"wires":[["a80a004d.2103b","567dcf44.59e05"]]},{"id":"a80a004d.2103b","type":"function","z":"2f6bc542.487b9a","name":"Set global connected to false","func":"global.set('connected',false);\nmsg.connected = global.get('connected')\nreturn msg;","outputs":1,"noerr":0,"x":453.5,"y":159,"wires":[["38861e01.1ebe72"]]},{"id":"38861e01.1ebe72","type":"debug","z":"2f6bc542.487b9a","name":"output state","active":true,"console":"false","complete":"connected","x":686.5,"y":158,"wires":[]},{"id":"e15921bc.32cf2","type":"debug","z":"862bf685.1e191","name":"JSON browser payload","active":false,"console":"false","complete":"payload","x":553.5,"y":254,"wires":[]},{"id":"d88f5acb.d63aa8","type":"switch","z":"998eeeb2.aecad8","name":"Check for status message","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"status","vt":"str"}],"checkall":"true","outputs":1,"x":859.5,"y":377,"wires":[["ba2f51dd.0036c","e757b7f.93ad048"]]},{"id":"b66660b2.c9e61","type":"function","z":"998eeeb2.aecad8","name":"Set global connected to true","func":"global.set('connected',true);\nmsg.connected = global.get('connected')\nreturn msg;","outputs":1,"noerr":0,"x":1366,"y":414,"wires":[["df87aafb.f3e658"]]},{"id":"df87aafb.f3e658","type":"debug","z":"998eeeb2.aecad8","name":"status message received","active":false,"console":"false","complete":"payload","x":1693.5,"y":414,"wires":[]},{"id":"46dfd915.34d6f8","type":"switch","z":"998eeeb2.aecad8","name":"Connected?","property":"connected","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":785,"y":220,"wires":[["f47ca140.47466"]]},{"id":"b780a58c.438308","type":"debug","z":"998eeeb2.aecad8","name":"messages from Python","active":false,"console":"false","complete":"payload","x":819.5,"y":486,"wires":[]},{"id":"a66271a7.877dc","type":"debug","z":"998eeeb2.aecad8","name":"Flow to dashboard","active":false,"console":"false","complete":"payload","x":1166.5,"y":83,"wires":[]},{"id":"18310b84.601394","type":"switch","z":"4d5007b4.5118c8","name":"Connected?","property":"connected","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":365,"y":195,"wires":[["1df80e2e.ae73b2"]]},{"id":"af14bc67.4cca","type":"switch","z":"4d5007b4.5118c8","name":"Connected?","property":"connected","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":366,"y":141,"wires":[["1df80e2e.ae73b2"]]},{"id":"36be0e13.55fcd2","type":"switch","z":"4d5007b4.5118c8","name":"Connected?","property":"connected","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":363,"y":86,"wires":[["1df80e2e.ae73b2"]]},{"id":"484fd791.966db8","type":"json","z":"998eeeb2.aecad8","name":"","x":649,"y":378,"wires":[["d88f5acb.d63aa8","b780a58c.438308"]]},{"id":"f47ca140.47466","type":"json","z":"998eeeb2.aecad8","name":"","x":937.5,"y":219,"wires":[["e0fd443d.a8067","50965266.93e9ac","8531194.2965168","a66271a7.877dc"]]},{"id":"675dbce4.341074","type":"switch","z":"862bf685.1e191","name":"Connected?","property":"connected","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":506,"y":478,"wires":[["137a52bc.bb982d"]]},{"id":"7c857c07.54afc4","type":"switch","z":"862bf685.1e191","name":"Connected?","property":"connected","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":799,"y":388,"wires":[["b9e8a636.7fea6"]]},{"id":"ba2f51dd.0036c","type":"switch","z":"998eeeb2.aecad8","name":"Connected?","property":"connected","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":1074,"y":377,"wires":[["50965266.93e9ac","b66660b2.c9e61","e5f44d4a.cc6ac"]]},{"id":"608ee269.a7412c","type":"debug","z":"8a591d1b.366998","name":"message num","active":false,"console":"false","complete":"payload","x":505.5,"y":217,"wires":[]},{"id":"52445880.ae7598","type":"debug","z":"998eeeb2.aecad8","name":"Traffic to redis","active":false,"console":"false","complete":"payload","x":1399.5,"y":296,"wires":[]},{"id":"1df80e2e.ae73b2","type":"json","z":"4d5007b4.5118c8","name":"","x":587.5,"y":91,"wires":[["c0cea394.f0c6b"]]},{"id":"9cf584a8.cefb38","type":"switch","z":"53e10401.aab09c","name":"Connected?","property":"connected","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":602,"y":166,"wires":[["3399ae27.17b8b2"]]},{"id":"90807107.b7469","type":"switch","z":"53e10401.aab09c","name":"Connected?","property":"connected","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":209,"y":171,"wires":[["670089b4.783748"]]},{"id":"ffc5fe03.13403","type":"serial out","z":"998eeeb2.aecad8","name":"Espruino for Ears","serial":"b0d7ad50.36f7b","x":1623,"y":463,"wires":[]},{"id":"e5f44d4a.cc6ac","type":"change","z":"998eeeb2.aecad8","name":"set payload to normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1348.5,"y":463,"wires":[["ffc5fe03.13403"]]},{"id":"3f15b348.4180cc","type":"serial out","z":"2f6bc542.487b9a","name":"Espruino for Ears","serial":"b0d7ad50.36f7b","x":921,"y":264,"wires":[]},{"id":"64c0bea5.fdc3a","type":"change","z":"2f6bc542.487b9a","name":"set payload to normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":679.5,"y":263,"wires":[["3f15b348.4180cc"]]},{"id":"567dcf44.59e05","type":"delay","z":"2f6bc542.487b9a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":449.5,"y":265,"wires":[["64c0bea5.fdc3a"]]},{"id":"e757b7f.93ad048","type":"timeouttrigger","z":"998eeeb2.aecad8","ontimeouttype":"str","ontimeoutval":"timeout","duration":"2","units":"s","name":"","x":1036.5,"y":461,"wires":[["e20ba48c.cfc7c8"]]},{"id":"a3ea03f1.1cb74","type":"change","z":"998eeeb2.aecad8","name":"set payload to normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1356,"y":604,"wires":[["b4b5c4ba.516af8","5db3385c.fa2308"]]},{"id":"e046d694.7e0ec8","type":"function","z":"998eeeb2.aecad8","name":"Set global connected to true","func":"global.set('connected',false);\nmsg.connected = global.get('connected')\nreturn msg;","outputs":1,"noerr":0,"x":1374,"y":545,"wires":[["b40aae12.ea7ab"]]},{"id":"b4b5c4ba.516af8","type":"serial out","z":"998eeeb2.aecad8","name":"Espruino for Ears","serial":"b0d7ad50.36f7b","x":1611,"y":606,"wires":[]},{"id":"b40aae12.ea7ab","type":"debug","z":"998eeeb2.aecad8","name":"timeout happened","active":false,"console":"false","complete":"payload","x":1645.5,"y":545,"wires":[]},{"id":"5db3385c.fa2308","type":"debug","z":"998eeeb2.aecad8","name":"","active":true,"console":"false","complete":"false","x":1593.5,"y":682,"wires":[]},{"id":"e20ba48c.cfc7c8","type":"switch","z":"998eeeb2.aecad8","name":"timeout?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"timeout","vt":"str"}],"checkall":"true","outputs":1,"x":1140.5,"y":535,"wires":[["e046d694.7e0ec8","a3ea03f1.1cb74"]]}]