node-RED/flows_k9.json
[{"id":"862bf685.1e191","type":"tab","label":"K9 Flows"},{"id":"ee6a7f8.d278b","type":"websocket-client","z":"","path":"/ws/motors","wholemsg":"false"},{"id":"4e90dcd1.dcdeb4","type":"websocket-listener","z":"","path":"/ws/k9","wholemsg":"false"},{"id":"4838891c.8e6ba8","type":"serial-port","z":"862bf685.1e191","serialport":"/dev/tty.usbmodem1421","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"!","bin":"false","out":"char","addchar":false},{"id":"38ed29c2.496bbe","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000000","baseFont":"Helvetica Neue","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#000000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#333333","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#000000","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"K9 Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4c694f76.fa176","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"44b6aec7.71ebb","type":"ui_group","z":"","name":"Speed","tab":"4c694f76.fa176","disp":true,"width":"6"},{"id":"d6200530.3d4888","type":"ui_group","z":"","name":"Power","tab":"4c694f76.fa176","disp":true,"width":"6"},{"id":"58ab4164.e74de8","type":"ui_group","z":"","name":"Environment","tab":"4c694f76.fa176","disp":true,"width":"6"},{"id":"c323b361.343c58","type":"websocket-listener","z":"","path":"/ws/sensors","wholemsg":"false"},{"id":"7e3df1d7.25a55","type":"websocket in","z":"862bf685.1e191","name":"Web socket instructions","server":"4e90dcd1.dcdeb4","client":"","x":152.4499969482422,"y":172.08334350585938,"wires":[["bc5641fd.f5bcc","b40165f7.aa926"]]},{"id":"8ea1d0fb.01df3","type":"debug","z":"862bf685.1e191","name":"std out","active":false,"console":"false","complete":"payload","x":2129.0928802490234,"y":659.8334503173828,"wires":[]},{"id":"f804dca3.79a7d","type":"function","z":"862bf685.1e191","name":"Generate execution path","func":"var execute = msg.payload.object + \"_\" + msg.payload.status ;\nexecute = \"/home/pi/site/python/\" + execute + \".py\";\nmsg.payload = execute;\nreturn msg;","outputs":1,"x":1167.8428192138672,"y":489.3334503173828,"wires":[["90ca98e6.ae57f8"]]},{"id":"90ca98e6.ae57f8","type":"exec","z":"862bf685.1e191","command":"sudo python ","addpay":true,"append":"","useSpawn":"","name":"Move head or tail","x":1598.3428955078125,"y":551.0834350585938,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"98e57e3f.6357a","type":"debug","z":"862bf685.1e191","name":"error","active":false,"console":"false","complete":"payload","x":2126.3428802490234,"y":794.0834503173828,"wires":[]},{"id":"8d8d946a.07b27","type":"debug","z":"862bf685.1e191","name":"rc","active":false,"console":"false","complete":"payload","x":2131.3428802490234,"y":915.8334503173828,"wires":[]},{"id":"8a94e39b.10b3a8","type":"switch","z":"862bf685.1e191","name":"Message type received","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"information","vt":"str"},{"t":"eq","v":"navigation","vt":"str"},{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"mood","vt":"str"},{"t":"eq","v":"servo","vt":"str"}],"checkall":"false","outputs":5,"x":558.7833099365234,"y":342.50001430511475,"wires":[["f4ffd356.1ac69"],["b9e8a636.7fea6"],["3ace8e31.27e3aa"],["137a52bc.bb982d","389e4d94.0c1242"],["f75f9092.fe5308"]]},{"id":"bc5641fd.f5bcc","type":"debug","z":"862bf685.1e191","name":"Web socket (ws)","active":false,"console":"false","complete":"payload","x":396.88328552246094,"y":171.60003662109375,"wires":[]},{"id":"3ace8e31.27e3aa","type":"switch","z":"862bf685.1e191","name":"Lights, tail and head","property":"payload.object","propertyType":"msg","rules":[{"t":"eq","v":"lights","vt":"str"},{"t":"eq","v":"head","vt":"str"},{"t":"eq","v":"eyes","vt":"str"},{"t":"eq","v":"tail","vt":"str"},{"t":"eq","v":"motorctrl","vt":"str"}],"checkall":"false","outputs":5,"x":871.4500122070312,"y":457.75,"wires":[["a40dbe2e.9060c"],["f804dca3.79a7d"],["65c98b38.01afd4"],["5200e6ce.16c9f8"],["2541a9f1.c7d376"]]},{"id":"69c302c2.08a30c","type":"comment","z":"862bf685.1e191","name":"Browser websocket","info":"The ws websocket receives messages from the browser","x":164.78330993652344,"y":114.75,"wires":[]},{"id":"3de0537c.1b078c","type":"comment","z":"862bf685.1e191","name":"Python websocket","info":"This socket receives the status from K9","x":149.4500274658203,"y":383.08338928222656,"wires":[]},{"id":"be4953bd.9f28b8","type":"debug","z":"862bf685.1e191","name":"Information received","active":false,"console":"false","complete":"payload","x":1335.7832489013672,"y":369.75001525878906,"wires":[]},{"id":"137a52bc.bb982d","type":"switch","z":"862bf685.1e191","name":"Moods","property":"payload.object","rules":[{"t":"eq","v":"wake_up"},{"t":"eq","v":"sad"},{"t":"eq","v":"scanning"},{"t":"eq","v":"sleep"},{"t":"eq","v":"thanks"},{"t":"eq","v":"home"}],"checkall":"true","outputs":6,"x":895.7833251953125,"y":767.7500305175781,"wires":[["1be893ee.5efc4c","f3cd85ea.7dd4b"],["53c799e6.641948","b64f4d7e.a05338"],["1be893ee.5efc4c","5ff43aea.a73bcc","e7b324f3.a65a1"],["4dd58e9a.877f58"],["5b8dee02.8694e8","e6d28b19.ba73f8"],["6d5c8b76.86022c","2e609a0b.9999be"]]},{"id":"1be893ee.5efc4c","type":"change","z":"862bf685.1e191","name":"Wake Up","rules":[{"t":"set","p":"payload","to":"1"}],"action":"","property":"","from":"","to":"","reg":false,"x":1138.7832794189453,"y":762.9722442626953,"wires":[["3f5a17cd.69b0e8","7b7bbd05.ce793c","ad4d7541.6e2368","2ddb2b0b.762b0c"]]},{"id":"4dd58e9a.877f58","type":"change","z":"862bf685.1e191","name":"Sleep","rules":[{"t":"set","p":"payload","to":"0"}],"action":"","property":"","from":"","to":"","reg":false,"x":1263.7833251953125,"y":972.75,"wires":[["53c799e6.641948","37819ec.0c602e2","ad4d7541.6e2368","2ddb2b0b.762b0c","e2ed9c3.5aa206"]]},{"id":"3f5a17cd.69b0e8","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/head_up.py","addpay":false,"append":"","useSpawn":"","name":"Head Up","x":1576.7833099365234,"y":965.7500152587891,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"53c799e6.641948","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/head_down.py","addpay":false,"append":"","useSpawn":"","name":"Head Down","x":1581.7833099365234,"y":1035.750015258789,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"6e59cecb.b8f248","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/scanning.py","addpay":false,"append":"","useSpawn":"","name":"Scanning","x":1864.7833099365234,"y":867.7500152587891,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"f75f9092.fe5308","type":"template","z":"862bf685.1e191","name":"Command arguments","field":"payload","format":"handlebars","template":"{{payload.object}} {{payload.value}} ","x":1096.7833251953125,"y":1459.9999389648438,"wires":[["d971dddc.17f88"]]},{"id":"d971dddc.17f88","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/servotuner.py","addpay":true,"append":"","useSpawn":"","name":"Servotuner","x":1620.783203125,"y":1458.2499389648438,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"5ff43aea.a73bcc","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/head_up.py","addpay":false,"append":"","useSpawn":"","name":"Head Up","x":1472.7833099365234,"y":862.7500152587891,"wires":[["5e9ea393.ef9c5c"],[],[]]},{"id":"5e9ea393.ef9c5c","type":"delay","z":"862bf685.1e191","name":"Wait for neck to raise","pauseType":"delay","timeout":"0.75","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1660.7833099365234,"y":869.7500152587891,"wires":[["6e59cecb.b8f248"]]},{"id":"390770d9.c06dc","type":"websocket out","z":"862bf685.1e191","name":"Send message to K9 Python Controller","server":"","client":"ee6a7f8.d278b","x":1375.7832489013672,"y":278.75001525878906,"wires":[]},{"id":"b40165f7.aa926","type":"json","z":"862bf685.1e191","name":"","x":265.78330993652344,"y":305.75001525878906,"wires":[["8a94e39b.10b3a8"]]},{"id":"b9e8a636.7fea6","type":"json","z":"862bf685.1e191","name":"","x":810.7832489013672,"y":317.75001525878906,"wires":[["48783327.1f8404"]]},{"id":"48783327.1f8404","type":"change","z":"862bf685.1e191","name":"Delete session information","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1039.7832489013672,"y":312.75001525878906,"wires":[["390770d9.c06dc","be4953bd.9f28b8"]]},{"id":"a40dbe2e.9060c","type":"function","z":"862bf685.1e191","name":"Translate 'on'/'off' to 1 or 0","func":"context.global.backpanel = msg.payload.status;\nif (msg.payload.status == \"on\") {\n    msg.payload = 1;\n    } else {\n    msg.payload = 0;\n    }\nreturn msg;","outputs":"1","noerr":0,"x":1167.4499969482422,"y":432.75001525878906,"wires":[["ad4d7541.6e2368"]]},{"id":"65c98b38.01afd4","type":"function","z":"862bf685.1e191","name":"Translate 'on'/'off' to 1 or 0","func":"context.global.eyes = msg.payload.status;\nif (msg.payload.status == \"on\") {\n    msg.payload = 1;\n    } else {\n    msg.payload = 0;\n    }\nreturn msg;\n// fjfddfjkjd","outputs":"1","noerr":0,"x":1170.4499969482422,"y":542.7500152587891,"wires":[["2ddb2b0b.762b0c"]]},{"id":"7b7bbd05.ce793c","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/tail_up.py","addpay":false,"append":"","useSpawn":"","name":"Tail Up","x":1604.4499969482422,"y":811.7500152587891,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"37819ec.0c602e2","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/tail_down.py","addpay":false,"append":"","useSpawn":"","name":"Tail Down","x":1569.4499969482422,"y":1097.750015258789,"wires":[["8ea1d0fb.01df3"],["98e57e3f.6357a"],["8d8d946a.07b27"]]},{"id":"5200e6ce.16c9f8","type":"function","z":"862bf685.1e191","name":"Generate execution path","func":"var execute = msg.payload.object + \"_\" + msg.payload.status ;\nexecute = \"/home/pi/site/python/\" + execute + \".py\";\nmsg.payload = execute;\nreturn msg;","outputs":1,"x":1169.449951171875,"y":595.75,"wires":[["90ca98e6.ae57f8"]]},{"id":"e6d28b19.ba73f8","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/wag_v.py","addpay":false,"append":"","useSpawn":"","name":"Wag tail vertically","x":1036.449951171875,"y":1110.75,"wires":[[],[],[]]},{"id":"2e609a0b.9999be","type":"exec","z":"862bf685.1e191","command":"sudo python /home/pi/site/python/wag_h.py","addpay":false,"append":"","useSpawn":"","name":"Wag tail sideways","x":1029.4500122070312,"y":1177.75,"wires":[[],[],[]]},{"id":"f4ffd356.1ac69","type":"debug","z":"862bf685.1e191","name":"Information","active":false,"console":"false","complete":"payload","x":730.8500061035156,"y":182.2666778564453,"wires":[]},{"id":"8b5594ed.7c156","type":"websocket in","z":"862bf685.1e191","name":"Status received from K9 Python Controller","server":"","client":"ee6a7f8.d278b","x":173.8500213623047,"y":617.7833251953125,"wires":[["2179e7bf.9ab21"]]},{"id":"49a77b29.29d3f4","type":"websocket out","z":"862bf685.1e191","name":"Send sensor readings and status to browser","server":"4e90dcd1.dcdeb4","client":"","x":551.85009765625,"y":497.5667724609375,"wires":[]},{"id":"ad4d7541.6e2368","type":"debug","z":"862bf685.1e191","name":"LIGHTS RPI GPIO OUT","active":true,"console":"false","complete":"payload","x":1612.449951171875,"y":620.4500732421875,"wires":[]},{"id":"2ddb2b0b.762b0c","type":"debug","z":"862bf685.1e191","name":"EYES RPI GPIO OUT","active":true,"console":"false","complete":"payload","x":1602.449951171875,"y":668.4500732421875,"wires":[]},{"id":"51da7ec7.50d39","type":"exec","z":"862bf685.1e191","command":"espeak -v en-uk-rp -p 99 -s 150 -k40","addpay":true,"append":"","useSpawn":false,"name":"Speech","x":2047.88330078125,"y":1252.88330078125,"wires":[["b7a56a23.71c838"],[],[]]},{"id":"5392ccf4.94e914","type":"debug","z":"862bf685.1e191","name":"","active":true,"console":"false","complete":"false","x":2057.88330078125,"y":1165.8833618164062,"wires":[]},{"id":"da5732bf.d282c","type":"function","z":"862bf685.1e191","name":"Simple triggered queue","func":"// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\n\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var m = context.queue.shift();\n        return {payload:m};\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":1851.88330078125,"y":1251.88330078125,"wires":[["51da7ec7.50d39","5392ccf4.94e914"]]},{"id":"b7a56a23.71c838","type":"function","z":"862bf685.1e191","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":1940.8833312988281,"y":1394.88330078125,"wires":[["da5732bf.d282c"]]},{"id":"2179e7bf.9ab21","type":"change","z":"862bf685.1e191","name":"Delete session information","rules":[{"t":"delete","p":"_session"}],"action":"","property":"","from":"","to":"","reg":false,"x":269.1500244140625,"y":684.6500244140625,"wires":[["49a77b29.29d3f4","7acdb8bb.3b6cf8"]]},{"id":"f3cd85ea.7dd4b","type":"function","z":"862bf685.1e191","name":"Speech: All systems operational","func":"msg.payload='\"All systems operational\"';\nreturn msg;","outputs":1,"noerr":0,"x":1501.4500732421875,"y":1167.449951171875,"wires":[["da5732bf.d282c"]]},{"id":"5b8dee02.8694e8","type":"function","z":"862bf685.1e191","name":"Speech: Thanks are not necessary","func":"msg.payload='\"Thanks are not necessary master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1501.3499755859375,"y":1341.349853515625,"wires":[["da5732bf.d282c"]]},{"id":"6d5c8b76.86022c","type":"function","z":"862bf685.1e191","name":"Speech: Welcome home master","func":"msg.payload='\"Welcome home master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1490.550048828125,"y":1387.949951171875,"wires":[["da5732bf.d282c"]]},{"id":"e2ed9c3.5aa206","type":"function","z":"862bf685.1e191","name":"Speech: Conserving battery power","func":"msg.payload='\"Conserving battery power\"';\nreturn msg;","outputs":1,"noerr":0,"x":1499.949951171875,"y":1298.349853515625,"wires":[["da5732bf.d282c"]]},{"id":"e7b324f3.a65a1","type":"function","z":"862bf685.1e191","name":"Speech: Scanning area","func":"msg.payload='\"Scanning area\"';\nreturn msg;","outputs":1,"noerr":0,"x":1472.25,"y":1253.550048828125,"wires":[["da5732bf.d282c"]]},{"id":"b64f4d7e.a05338","type":"function","z":"862bf685.1e191","name":"Speech: Apologies master","func":"msg.payload='\"Apologies master\"';\nreturn msg;","outputs":1,"noerr":0,"x":1482.3499755859375,"y":1212.75,"wires":[["da5732bf.d282c"]]},{"id":"37f89e76.fdf20a","type":"serial in","z":"862bf685.1e191","name":"Espruino","serial":"4838891c.8e6ba8","x":88.26666259765625,"y":499.9832763671875,"wires":[["49a77b29.29d3f4","42f25aff.32439c"]]},{"id":"42f25aff.32439c","type":"debug","z":"862bf685.1e191","name":"Espruino output","active":false,"console":"false","complete":"payload","x":246.26666259765625,"y":559.449951171875,"wires":[]},{"id":"389e4d94.0c1242","type":"debug","z":"862bf685.1e191","name":"","active":true,"console":"false","complete":"false","x":837.4000091552734,"y":369.3833312988281,"wires":[]},{"id":"2541a9f1.c7d376","type":"function","z":"862bf685.1e191","name":"Translate 'on'/'off' to 1 or 0","func":"context.global.motorctrl = msg.payload.status;\nif (msg.payload.status == \"on\") {\n    msg.payload = 1;\n    } else {\n    msg.payload = 0;\n    }\nreturn msg;\n// fjfddfjkjd","outputs":"1","noerr":0,"x":1170,"y":650,"wires":[["73a8a91.fce2958"]]},{"id":"73a8a91.fce2958","type":"debug","z":"862bf685.1e191","name":"MOTOR CONTROL TOGGLE","active":true,"console":"false","complete":"payload","x":1627.5,"y":722.5,"wires":[]},{"id":"58d3925f.395b1c","type":"ui_gauge","z":"862bf685.1e191","name":"Speed","group":"44b6aec7.71ebb","order":0,"width":0,"height":0,"gtype":"gage","title":"Speedometer","label":"%","format":"{{hover}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":731.5,"y":808,"wires":[]},{"id":"b2257641.e18a5","type":"json","z":"862bf685.1e191","name":"","x":374.5,"y":817,"wires":[["d421ac1b.8361a","5afd4e0.0d44d34","3f81d440.7a46dc","6af2d659.de7c8","983c07fa.401b58"]]},{"id":"d421ac1b.8361a","type":"change","z":"862bf685.1e191","name":"Hover","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hover","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":544.5,"y":817,"wires":[["58d3925f.395b1c","e936c3c7.4892d8"]]},{"id":"5afd4e0.0d44d34","type":"change","z":"862bf685.1e191","name":"Motor volts","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main_volt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":552.5,"y":908,"wires":[["bdca7b54.e238e8"]]},{"id":"bdca7b54.e238e8","type":"ui_gauge","z":"862bf685.1e191","name":"Motor Battery","group":"58ab4164.e74de8","order":0,"width":0,"height":0,"gtype":"gage","title":"Motor Battery","label":"Volts","format":"{{value}}","min":"12","max":"28","colors":["#ff0000","#ffff00","#00ff00"],"x":746.5,"y":909,"wires":[]},{"id":"3f81d440.7a46dc","type":"change","z":"862bf685.1e191","name":"Logic volts","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.brain_volt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550.5,"y":1026,"wires":[["483517a6.ce1a18"]]},{"id":"fb798d6b.f51b18","type":"ui_gauge","z":"862bf685.1e191","name":"Brain Volts","group":"d6200530.3d4888","order":0,"width":0,"height":0,"gtype":"gage","title":"Brain Gauage","label":"Volts","format":"{{value}}","min":"10","max":"13","colors":["#ff0000","#e6e600","#00ff00"],"x":773.5,"y":1024,"wires":[]},{"id":"6af2d659.de7c8","type":"change","z":"862bf685.1e191","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":539.5,"y":1091,"wires":[["ec578643.6621e"]]},{"id":"ec578643.6621e","type":"ui_gauge","z":"862bf685.1e191","name":"Temperature","group":"58ab4164.e74de8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"20","max":"85","colors":["#00b500","#e6e600","#ca3838"],"x":767.5,"y":1132,"wires":[]},{"id":"e936c3c7.4892d8","type":"ui_chart","z":"862bf685.1e191","name":"Velocity","group":"44b6aec7.71ebb","order":0,"width":0,"height":0,"label":"Tachometer","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#27a016","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":738.5,"y":861,"wires":[[],[]]},{"id":"7acdb8bb.3b6cf8","type":"delay","z":"862bf685.1e191","name":"Slow refresh rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":316.5,"y":749,"wires":[["b2257641.e18a5"]]},{"id":"483517a6.ce1a18","type":"smooth","z":"862bf685.1e191","name":"Mean Voltage","action":"mean","count":"10","round":"1","x":679.5,"y":973,"wires":[["fb798d6b.f51b18","1dc76c9a.a1497b"]]},{"id":"983c07fa.401b58","type":"debug","z":"862bf685.1e191","name":"","active":false,"console":"false","complete":"false","x":630.5,"y":713,"wires":[]},{"id":"1dc76c9a.a1497b","type":"ui_chart","z":"862bf685.1e191","name":"Brain Battery","group":"d6200530.3d4888","order":0,"width":0,"height":0,"label":"Brain Battery","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"10","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#27a016","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":790.5,"y":1075,"wires":[[],[]]},{"id":"448b66b4.c9b08","type":"comment","z":"862bf685.1e191","name":"Collision Detect Data","info":"","x":179.5,"y":1180,"wires":[]},{"id":"da449f09.5b5cf","type":"websocket in","z":"862bf685.1e191","name":"Receive data from text harness","server":"c323b361.343c58","client":"","x":208.5,"y":1263,"wires":[["db0cc6b5.1b3eb8"]]},{"id":"db0cc6b5.1b3eb8","type":"debug","z":"862bf685.1e191","name":"Sensor data","active":true,"console":"false","complete":"payload","x":513.5,"y":1261,"wires":[]}]